@charset "utf-8";

/* CSS Document */

body { margin: 0px; padding:0px; background-image: url(../images/); background-position:center top; background-repeat:repeat-x; background-color:#fff;}

h1{ color:#c76e1f; font-family:Arial, Helvetica, sans-serif; font-size:18px; margin:0px 0px 15px 0px; padding:0px; font-weight:normal; display:block; text-align:left;}
h1 small{ font-size:12px;}
h2{ color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:18px; margin:0px 0px 15px 0px; padding:0px; font-weight:normal;}
h3{ color:#fff; font-family:gothic; font-size:14px; margin:0px 0px 5px 0px; padding:0px; font-weight:normal;}
h4{ color:#c76e1f; font-family:Arial, Helvetica, sans-serif; font-size:14px; margin:0px 0px 5px 0px; padding:0px 0px 5px 0px; font-weight:normal; border-bottom:1px solid #FFF;}

.menu_div{ background-image: url(../images/menu_div_bg.jpg); background-position:center top; background-repeat:repeat-x; height:47px; }
.menu_div .content{ margin:0px auto 0px auto; width:996px; background-image: url(../images/sperator.png); background-position:center top; background-repeat:no-repeat; height:47px;}
.menu_div .content ul { margin:0px; padding:0px; list-style:none;}
.menu_div .content ul li{ margin:0px; padding:0px; list-style:none;}
.menu_div .content ul li a{ float:left; display:block; width:198px; text-align:center; margin-left:1px; padding-top:14px; height:33px; font-family:Arial, Helvetica, sans-serif; color:#ffb36f; font-size:15px; text-decoration:none;}
.menu_div .content ul li a:hover{  color:#fff;  text-decoration:none;}

.logo_banner_div{background-image: url(../images/logo_banner_div_bg.jpg); background-position:center bottom; background-repeat:repeat-x; min-height:455px; height:auto; }
.logo_banner{background-image: url(../images/banner_shadow.png); background-position:center bottom; background-repeat:repeat-x; height:455px; width:996px;
margin:0px auto 0px auto; }
.logo_banner .logo { height:120px; }
.logo_banner .logo .logo_ar { float:left; height:120px; width:248px; background-image: url(../images/logo_ar.png); background-position:right top; background-repeat:no-repeat; }
.logo_banner .logo .logo_en { float:left; height:120px; width:248px; background-image: url(../images/logo_en.png); background-position:left top; background-repeat:no-repeat; }
.logo_banner .logo .follow_lang_div { float:left; height:120px; width:500px; }
.logo_banner .logo .follow_lang {  height:36px; width:240px; margin:30px auto 0px auto; text-align:center; }
.logo_banner .logo .follow_lang .content{  height:29px; min-width:208px; float:left; background-color:#e9e9e9; padding-top:7px; color:#5b100a; font-family:Tahoma, Geneva, sans-serif; font-size:12px;}
.logo_banner .logo .follow_lang .content ul { margin:0px; padding:0px; list-style:none;}
.logo_banner .logo .follow_lang .content ul li { float:left; margin-right:8px;}
.logo_banner .logo .follow_lang .bg_left{  height:36px; width:16px; float:left; background-image: url(../images/bg_follow_left.png); background-position:center top; background-repeat:no-repeat;}
.logo_banner .logo .follow_lang .bg_right{  height:36px; width:16px; float:left; background-image: url(../images/bg_follow_right.png); background-position:center top; background-repeat:no-repeat;}
.logo_banner .banner { position:relative; top:-25px;}

.marq_div{ background-image: url(../images/marq_div_bg.jpg); background-position:center top; background-repeat:repeat-x; height:33px; }
.marq_div .content { margin:0px auto 0px auto; width:996px;  font-family:Tahoma, Geneva, sans-serif; color:#fff; padding-top:10px; font-size:11px;}

.content_div { background-color:#5b100a; min-height:400px; }
.content_div .content { margin:0px auto 0px auto; width:996px; padding:25px 0px 25px 0px; }
.content_div .content .left { width:500px; float:left; padding:0px 46px 0px 0px; min-height:360px;}
.content_div .content .left .welcome { color:#fff; font-family:Tahoma, Geneva, sans-serif; font-size:12px; text-align:justify; margin-bottom:20px;}
.content_div .content .left .welcome span{ color:#c76e1f; font-family:Arial, Helvetica, sans-serif; font-size:14px; display:block; margin:22px 0px 5px 0px;}
.content_div .content .left .welcome img { float:left; margin:0px 15px 10px 0px; }
.content_div .content .left .about { padding:20px; background-color:#c76e1f; color:#fff; font-family:Tahoma, Geneva, sans-serif; font-size:12px; text-align:justify;}
.content_div .content .left .about span{ color:#5b100a; font-family:Tahoma, Geneva, sans-serif; }
.content_div .content .left .about img{ margin:0px 0px 10px 0px;}

.content_div .content .right { width:450px; float:left; padding:0px 0px 0px 0px; min-height:360px;}
.content_div .content .right .services ul { margin:0px; padding:0px; list-style:none;}
.content_div .content .right .services ul li { margin:0px 0px 15px 0px; padding:0px; list-style:none; display:block;}
.content_div .content .right .services .img { float:left; margin:0px 10px 0px 0px;}
.content_div .content .right .services .serv_data { float:left; width:292px; color:#FFF; font-family:Tahoma, Geneva, sans-serif; font-size:12px;}

.footer_div { height:60px; background-color:#FFF; font-family:Tahoma, Geneva, sans-serif; font-size:12px;}
.footer_div .content { margin:0px auto 0px auto; width:996px; text-align:center; padding-top:15px; line-height:18px; color:#5b100a;}
.footer_div .content a { color:#5b100a; text-decoration:none;}
.footer_div .content a:hover { color:#5b100a; text-decoration:underline;}

.clear{ clear:both; height:1px;}
.clear10px{ clear:both; height:10px;}

.btn a {  background-image: url(../images/btn_up.png); background-position:left top; background-repeat:no-repeat; text-align:right; text-decoration:none; padding-left:27px; font-size:12px; float:right; margin-top:0px; color:#fff; font-family:Tahoma, Geneva, sans-serif; height:19px; padding-top:3px;}
.btn a:hover {   background-image: url(../images/btn_over.png); background-position:left top; background-repeat:no-repeat; text-align:right; text-decoration:none; color:#c76e1f;}
.btn2 a {  background-image: url(../images/btn_up.png); background-position:left top; background-repeat:no-repeat; text-align:right; text-decoration:none; padding-left:27px; font-size:12px; float:right; margin-top:0px; color:#fff; font-family:Tahoma, Geneva, sans-serif; height:19px; padding-top:3px;}
.btn2 a:hover {   background-image: url(../images/btn2_over.png); background-position:left top; background-repeat:no-repeat; text-align:right; text-decoration:none; color:#5b100a;}
