/***********************/
/***** MenuAdapter *****/
/***********************/
.AspNet-Menu-Horizontal
{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 300;
}

ul.AspNet-Menu
{
    /* This must be atleast wide enough to hold ALL TopTier items, or they will wrap. */
    width: 200px;
}
ul.AspNet-Menu ul
{
    left: 0;
    top: 100%;
}
ul.AspNet-Menu ul ul
{
    top: -4px;
}

/* General menu style. */
ul.AspNet-Menu li
{
    width: 93px; /* Width of smallest menuitem. */
    text-align: center;
    background: #a0a0a0 url(../Images/InputBackground.png) top repeat-x;
}

ul.AspNet-Menu ul li
{
    /* Width of second tier and below. */ /* Should be slightly larger than the margin specified below. */
    width: 130px;
    text-align: left;
	-moz-box-shadow: 3px 3px 3px #666; /* Drop shadow in mozilla browsers (Firefox) */
    -webkit-box-shadow: 3px 3px 3px #666; /* Drop shadow in webkit browsers (Safari, Chrome) */
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#606060,direction=135,strength=3); /* Drop shadow in IE. */
    box-shadow: 3px 3px 3px #666; /* Drop shadow in CSS3 browsers. */
}

/* Third tier. */
ul.AspNet-Menu li ul li ul
{
    /* First is distance to move up. Last is distance from left of second tier. */ /* Should be slightly smaller than second tier width. */
    margin: -12px 0 0 125px;
    z-index: 400;
}
ul.AspNet-Menu li ul li ul li
{
    /* Width of the third tier items. */
    width: 220px;
}

/* Each menu item is either a link or a span depending on if the MenuItem has a NavigateUrl specified. */
ul.AspNet-Menu li a, ul.AspNet-Menu li span
{
    color: black;
    padding: 2px 2px 2px 2px; /* Defines each items size. */
    border: 1px solid #606060;
    border-bottom: 0;
    background: transparent url(../Images/MenuArrow.png) right bottom no-repeat;
}
ul.AspNet-Menu li.AspNet-Menu-Leaf a, ul.AspNet-Menu li.AspNet-Menu-Leaf span
{
    /* A leaf is a menu item with no sub items. Hide the arrow. */
    background-image: none;
}
/* Change arrow of items being hovered over. */
ul.AspNet-Menu li a:hover, ul.AspNet-Menu li span.Asp-Menu-Hover
{
    color: White;
    background: transparent url(../Images/MenuArrowActive.png) right bottom no-repeat;
}
ul.AspNet-Menu li.AspNet-Menu-Leaf a:hover
{
    background-image: none;
}

/* List items (li) which is currently hovering over. */
ul.AspNet-Menu li:hover, ul.AspNet-Menu li.AspNet-Menu-Hover
{
    background: #808080 url(../Images/InputBackground.png) top repeat-x;
}
/* Content (link or span) of list item (li) currently hovering over. */
ul.AspNet-Menu li:hover a, ul.AspNet-Menu li:hover span, ul.AspNet-Menu li.AspNet-Menu-Hover a, ul.AspNet-Menu li.AspNet-Menu-Hover span, ul.AspNet-Menu li:hover li:hover a, ul.AspNet-Menu li:hover li:hover span, ul.AspNet-Menu li.AspNet-Menu-Hover li.AspNet-Menu-Hover a, ul.AspNet-Menu li.AspNet-Menu-Hover li.AspNet-Menu-Hover span, ul.AspNet-Menu li:hover li:hover ul a:hover, ul.AspNet-Menu li:hover li:hover ul span.Asp-Menu-Hover, ul.AspNet-Menu li.AspNet-Menu-Hover li.AspNet-Menu-Hover ul a:hover, ul.AspNet-Menu li.AspNet-Menu-Hover li.AspNet-Menu-Hover ul span.Asp-Menu-Hover
{
    color: #fff;
}
/* Content (link or span) of all list items (li) currently hovering over. */
ul.AspNet-Menu li:hover ul a, ul.AspNet-Menu li:hover ul span, ul.AspNet-Menu li.AspNet-Menu-Hover ul a, ul.AspNet-Menu li.AspNet-Menu-Hover ul span, ul.AspNet-Menu li:hover li:hover ul a, ul.AspNet-Menu li:hover li:hover ul span, ul.AspNet-Menu li.AspNet-Menu-Hover li.AspNet-Menu-Hover ul a, ul.AspNet-Menu li.AspNet-Menu-Hover li.AspNet-Menu-Hover ul span
{
    color: #000;
}

/***************************/
/***** GridViewAdapter *****/
/***************************/
.AspNet-GridView
{
    width: 100%;
}
.AspNet-GridView div.AspNet-GridView-Empty
{
    /* The grid has only the EmptyDataText row. */
    background: #5d7b9d;
    border: solid 1px #cccccc;
    color: #f5f5f5;
    padding: 2px;
    text-align: center;
    font-weight: bold;
}
/* Pager styling. */
.AspNet-GridView div.AspNet-GridView-Pagination, .AspNet-GridView div.AspNet-GridView-Pagination a, .AspNet-GridView div.AspNet-GridView-Pagination span
{
    color: #f5f5f5;
    background: #5d7b9d;
    font-weight: normal;
    padding: 2px;
    text-align: right;
}

/* Table styling. */
.AspNet-GridView table
{
    border: solid 1px #cccccc;
    width: 100%;
}
/* Header styling. */
.AspNet-GridView table thead tr th
{
    color: #f5f5f5;
    background: #5d7b9d;
    border-bottom: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    padding: 2px;
}
.AspNet-GridView table thead tr th a
{
    color: #f7f6f3;
}
/* Row styling. */
.AspNet-GridView table tbody tr td
{
    color: #333333;
    background: #f0f0f0;
    padding: 2px 2px 2px 2px;
    border-bottom: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
}
/* Alternating row styling. */
.AspNet-GridView table tbody tr.AspNet-GridView-Alternate td
{
    background: #eaeaea;
}

.AspNet-GridView .GridView .AspNet-GridView-Selected 
{
	background:Yellow; 
}

.AspNet-GridView .GridView .AspNet-GridView-Selected SelectedRow .td(and without td)
{
 color:Green;
 background:Yellow; 
}


