body
{
 margin: 0 auto;
 padding:0;
 direction:rtl;/*
 background-image:url(../Images/bg8.jpg);
background-repeat: repeat;
background-attachment: fixed;*/
} 
#wrapper{
width:100%;
margin: 0 auto; 
padding:0;
direction:rtl;
height:0;
	}
	#wrapper{
width:100%;
margin: 0 auto; 
padding:0;
height:0;
	}
#container{
/*
width:960px;*/
margin: 0 auto;
width:100%;
padding:0;
direction:rtl;
height:100%;
/*height:1543px;*/
background-color:#f0f0f0;
}
#containerICD{
/*
width:960px;*/
margin: 0 auto;
width:100%;
padding:0;
height:100%;
/*height:1543px;*/
background-color:#f0f0f0;
}
#header_container{
width:100%;
background-image:url(../Images/bannernew.jpg);
background-position:top;
margin: 0 auto;
padding:0;
background-repeat:no-repeat;

}
#navigation_container{
/*width:900px;*/
height:63px;
margin-top:120px;
width:250px;
float:right;
}
#content_container{
    margin: 0 auto;
    padding:0;
	width:100%;
	height:100%;
	/*height:1500px;*/
	/*width:900px;*/
}

   #content_middle{
					height:100%;
					padding-right:3px;
					/*width:100%;*/
					margin: 0 auto;                   
					margin-top:111px;
					background-repeat:repeat-x;
					/*float:left;*/
					 }
	#content_middleLogin{
					height:100%;
					
					width:100%;
					margin: 0 auto;                   
					margin-top:111px;
					background-repeat:repeat-x;
				    
					 }
	 #content_login{
					height:361px;
					background-image:url(../Images/t.png);
					width:866px;
					margin: 0 auto;                   
					margin-top:111px;
					background-repeat:repeat-x;
					 }
	#footer_container{
	/*height:23px;
	width:100%;
	margin-top:43px;
	/*width:960px;
	background-repeat:repeat-x;
	/*background-image:url(../Images/footer.png);*/
	}
.AlignCenter
{
	text-align:center;
}
.TableBorderBlue Table TR TD
{
	border:blue;
	border-width:1px;
	border-bottom-color:Blue;
	border-bottom-width:1px;
	
}
.custom-calendar .ajax__calendar_container

{

 background-color:#ffc; /* pale yellow */

 border:solid 1px #666;

}

.custom-calendar .ajax__calendar_title

{

 background-color:#cf9; /* pale green */
 height:20px;

 color:#333;

}
.grdcolumnDeadNAmeWidth
{
	width:120px;
}
.grdcolumnInformerNAmeWidth
{
	width:150px;
}
.grdcolumnNIDfont
{
	font-size:11px;
}

.custom-calendar .ajax__calendar_prev,
.custom-calendar .ajax__calendar_next
{
 background-color:#aaa; /* darker gray */
 height:20px;
 width:20px;
}

.custom-calendar .ajax__calendar_today
{
 background-color:#cff;  /* pale blue */
 height:20px;
}

.custom-calendar .ajax__calendar_days table thead tr td
{
 background-color:#ff9; /* dark yellow */
 color:#333;
}

.custom-calendar .ajax__calendar_day

{

 color:blue; /* normal day - darker gray color */

}

.custom-calendar .ajax__calendar_other .ajax__calendar_day

{

 color:#666; /* day not actually in this month - lighter gray color */

}
.overlay
{
    border: black 1px solid;
    padding: 5px;
    z-index: 100;
    width: 100px;
    position: absolute;
    background-color: #fff;
    -moz-opacity: 0.75;
    opacity: 0.75;
    filter: alpha(opacity=75);
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.GridCellAlignCenter
{
    text-align: center;
}
