<?xml version="1.0"?>
<configuration>
  <appSettings>

    

    <add key="dbConnection" value="Data Source=206.53.55.135;Initial Catalog=WhiteChat_db;User ID=wclogin;Password=!ivalley123"/>
    <add key="ServerIp" value="206.53.55.135"/>
    
    <!--<add key="dbConnection" value="Data Source=mena-pc;Initial Catalog=WhiteChat_db;User ID=sa;Password=sqladmin"/>
    <add key="ServerIp" value="192.168.1.100"/>-->
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
