/* Airfare.com */
/* <Master Styles> */

body
{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    color: #333333;
    background: #FFFFFF url(../images/theme/images/Mainbg2.jpg) no-repeat top center;
    margin: 0;
    padding: 0;
}

td
{
    color: #333333;
    text-align: left;
    vertical-align: top;
}

input, select, textarea
{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0; 
}

h1
{
    font-size: 20px;
    color: #FF6600;
}

h2
{
    font-size: 18px;
    font-weight: normal;
    color: #FF6600;
    padding: 0;
    margin: 0;
}

h3
{
    font-size: 13px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

h4
{
    font-size: 11px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

a
{
    color: #004898;
}

a:hover
{
    color: #2A7BBA;
    text-decoration: none;
}


#Container
{
    margin: 0 auto;
}

#HeaderPlan
{
    width: 960px;
    margin: 0 auto;
    clear: both;
}

#HeaderContent
{
    float: left;
}


#logo
{
    float: left;
    width: 250px;
}

#logo a
{
    float: left;
}


#TopMenu
{
    float: right;
    width: 710px;
}


#menu2
{
    float: right;
    text-align: right;
    height: 16px;
    /*width: 700px;
    padding: 2px 0 1px 0;*/
}

#menu2 a
{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    color: #1C3F7F;
    line-height: 15px;
    padding: 1px 0 2px 10px;
}

#menu2 a:hover
{
    text-decoration: none;
    color: #46689B;
}

#facebook_like
{
    float: left;
    margin: -2px 0 -2px 0;
}

#facebook_like iframe
{
    width: 100px;
    height: 20px;
    border: none;
    overflow: hidden;
}

.facebook_login
{
    background: url(../images/theme/images/fb_btn.gif) no-repeat;
    text-decoration: underline;
    padding-left: 20px !important;
    cursor: pointer;
}

.facebook_login:hover
{
    background: url(../images/theme/images/fb_btn_hover.gif) no-repeat;
    text-decoration: none;
}


#menu
{
    float: right;
    width: 695px;
    padding-right: 5px;
    height: 40px;
    margin-top: 12px;
    margin-bottom: 10px;
    background: url(../images/theme/images/TopMenuBg.gif) no-repeat;
    text-align: center;
}

#menu ul
{
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
}

#menu li
{
    float: left;
    margin: 5px 0 0 0;
    padding: 0 0 0 3px;
    background: url(../images/theme/images/menusplit.gif) no-repeat;
}

#menu a
{
    font-family: Verdana, Geneva, sans-serif;
    color: #FFFFFF;
    border: 0 none;
    float: left;
    text-decoration: none;
    outline: none;
    white-space: nowrap;
    overflow: visible;
    cursor: pointer;
}

#menu ul li a
{
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 4px;
    margin: 0 23px 0 23px;
    display: inline;
}

#menu a:hover
{
    text-decoration: none;
    color: #D6F600;
}

.menuitemhome
{
    padding: 4px;
    margin: 2px 0 0 5px;
}

.menuitemsub
{
    background: url(../images/theme/images/downarrow.gif) no-repeat right top;
    padding-right: 20px;
}

#sub3
{
    width: 176px;
    height: 186px;
    /*background: url(/../images/theme/images/supportmenubg.png) no-repeat;*/
    background-color: #2D7EBF;
    border: 1px solid #0F5E9C;
    padding: 7px;
    margin-left: 492px;
    margin-top: 66px;
    position: absolute;
    z-index: 150;
}

#sub3 a
{
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #FFFFFF;
    /*display: block;
    float: left;*/
    padding: 2px 0 3px 22px;
    line-height: 26px;
    text-decoration: none;    
}

#sub3 a:hover
{
    color: #D6F600;
    text-decoration: none;
}

#CallCenterHeader
{
    float: left;
    width: 940px;
    padding: 7px 10px 7px 10px;
    background-color: #D9ECFF;
    margin-bottom: 8px;
}

#CallCenterHeader span
{
    float: left; 
    padding-right: 24px;
}
#CallCenterHeader a
{
    float: right;
    padding-left: 16px;
}
#CallCenterHeader b
{
    color: #2A7BBA;
}

#BusinessPartnersHeader
{
    float: right;
    font-size: 13px;
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
    width: 595px;
    height: 16px;
}

#BusinessPartnersHeader a
{
    font-size: 13px;
    font-family: Verdana, Geneva, sans-serif;
    padding-left:0px;
}

#BusinessPartnersHeader span
{
    color: #FF6600;
}
#BusinessPartnersHeader a
{
    color: #FF6600;
    text-decoration: underline;
}
#BusinessPartnersHeader a:hover
{
    color: #FFA500;
    text-decoration: none;
}


#PageContent
{
    width: 960px;
    min-height:685px;
    margin: 0 auto;
    padding: 12px 0 12px 0;
    clear: both;
}


#footerPanl
{
    margin: 0 auto;
    clear: both;
    text-align: center;
    background-color: #F2F2F2;
    border-top: 3px solid #808080;
}

#FooterContent
{
    width: 960px;
    margin: 0 auto;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

#FooterContent p
{
    margin: 0;
}

#FooterTop
{
    padding-bottom: 5px;
}

#FooterBottom
{
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    padding: 5px;
    line-height: 180%;
}

#FooterMiddle
{
    line-height: 160%;
    padding: 15px 20px 15px 20px;
}

#FooterMiddle h3
{
    color: #003366;
    margin-bottom: 5px;
}

#FooterMiddle a
{
    color: #333333;
}

#FooterMiddle a:hover
{
    color: #003366;
    text-decoration: none;
}

.FooterMids
{
    float: left;
    padding: 0 10px 0 10px;
}

#FooterMid1
{
    width: 240px;
}

#FooterMid2
{
    width: 240px;
}

#FooterMid3
{
    width: 235px;
}

#FooterMid4
{
    width: 125px;
}

#FooterCSLinks a
{
    /*display: block;
    float: left;*/
    padding: 2px 0 3px 22px;
    line-height: 20px;
}


.clear
{
    clear: both;
    height: 0px;
    line-height: 0px;
}


/* </Master Styles> */
