body 
{
    background-color: #5A4B45;
    margin:0;
    padding:0;
}

.productMenu tr td
{
    padding:5px;
    padding-left:30px;
}

.mylink
{
    background-image: url(../images/enter-b.jpg);
    text-indent: -9999px;
    width: 95px;
    height: 54px;
    display: block;
}

.mylink:hover
{
    background-image:url(../images/enter-b-o.jpg);
    }

.adminMenu 
{
    list-style:none;    
}

.adminMenu li
{
    display:block;
    width:220px;
    height:20px;       
    font-size:16px;
    font-weight:bold;
    background-color:White;   
    color:#89746B; 
}

.adminMenu li a
{
    display:block;
    width:220px;
    height:20px;
    padding:5px;
    padding-left:50px;  
    margin-top:15px;  
    margin-left:-30px;
    font-size:16px;
    font-weight:bold;
    background-color:White;    
    color:#5A4B45;
}

.adminMenu li a:hover
{
    background-color:#5A4B45;    
    color:#fff;
}


.ContentLeftDiv { margin-bottom:20px; }


.AdminLeft
{
    float: left;        
    padding-left: 15px;
    
}

.AdminMiddle
{
    float: left;    
    width:510px;
}

.AdminRight
{
    float: left;
    width: 15%;        
}

.clear5
{
    clear: both;
    height: 5px;
}

.Label
{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #666699;
}

h3
{
    color: Green;
    font-family: Verdana;
}

.BackDiv
{
    width: 300px;
    float: left;
    text-align: left;
    padding-left: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.NewsBlock
{
    border: 1px solid #C0C0C0;
    direction: rtl;
    float: left;
    width: 310px; /*background: url(../images/box2.jpg) no-repeat center;      */
}

.NewsHeader
{
    background: url(../images/blue_news.jpg) no-repeat center;
    width: 313px;
    height: 33px;
}

.NewsBlock .NewsDate
{
    float: right;
    color: #0E528F;
    font-weight: bold;
    width: 100px;
    font-size: 15px;
    padding-right: 20px;
}
.NewsBlock .More a
{
    float: right;
    color: #C3362D;
    font-weight: bold;
    width: 95px;
    font-size: 15px;
}

.NewsBlock .NewsDetails
{
    width: 283px;
    padding-right: 20px;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #606061;
}

.SearchBtn {width:58px;display:block; float:left; height:18px; margin:10px; }

.SearchBtn a { display:block; float:left; background-image: url(../images/GrayMedBtnUp.png); background-position: center top; background-repeat: no-repeat; width:58px; height:18px; padding:3px 5px; color:#FFF; text-transform:uppercase; text-decoration:none; font-size:9px; text-align:center; font-family:Tahoma, Geneva, sans-serif;}
.SearchBtn a:hover { background-image: url(../images/GrayMedBtnOver.png); background-position: center top; background-repeat: no-repeat; }

.SmallBtn a { display:block; float:left; background-image: url(../images/GrayBtnUp.png); background-position: center top; background-repeat: no-repeat; width:28px; height:12px; padding:6px 5px; color:#FFF; text-transform:uppercase; text-decoration:none; font-size:9px; text-align:center; font-family:Tahoma, Geneva, sans-serif;}
.SmallBtn a:hover { background-image: url(../images/GrayBtnOver.png); background-position: center top; background-repeat: no-repeat; }

.AdminMore a { display:block; float:left; background-image: url(../images/GrayBigBtnUp.png); background-position: center top; background-repeat: no-repeat; width:105px; height:16px; padding:4px 5px; color:#FFF; text-transform:uppercase; text-decoration:none; font-size:9px; text-align:center; font-family:Tahoma, Geneva, sans-serif;}
.AdminMore a:hover { background-image: url(../images/GrayBigBtnOver.png); background-position: center top; background-repeat: no-repeat; color:#fff; }


.designerHost
{
    display:block;
    width:98%;
    padding:5px;
}

.designerpic 
{
    float:left;
    margin-left:-8px;
}

.designerpic img
{
    width:167px;height:162px;
    vertical-align:middle;
    margin-top:5px;
    }
    
.designerDetails
{
    float:left;
    width:510px;
    padding:8px;
    vertical-align:top;
}    

    
/*.pro_main img { border:1px solid black;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px; }*/
.productItems {margin:0 auto;text-align:center;padding:30px;padding-left:25%;}
.productItems table{border-collapse:collapse;text-align:center !important;}
.productItems table tr td{padding:5px;border:1px solid black;}
.productItems table tr td.content_black{text-align:center !important;}
.details {background-color:#C1B6B3} 

a.current
{
    color: #663300 !important;
    
}

.mainCat
{
    background-color:#E91652;
    }

.content_black div
{
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #000000;
	text-align:justify; 
}