
html, body {
    direction:rtl;    
    margin:0;
    padding:0;
    font-family:'ge_ss_text_medium';
    font-size:14px;
}

h1, h2, h3, h4, h5, h6, h7 { 
    font-family:'ge_ss_text_medium' ;
}

li {
    display:block;
}
@font-face {
    font-family:'cocon';
    /*src: url('../font/cocon-next-arabic-light.eot');*/
    src: url('../font/cocon-next-arabic-light.eot?#iefix') format('embedded-opentype'),
         url('../font/cocon-next-arabic-light.woff') format('woff'),
         url('../font/cocon-next-arabic-light.ttf') format('truetype');
    src:url('../fonts/cocon-next-arabic-light.otf');
    src: url('../font/cocon-next-arabic-light.eot?#iefix') format('embedded-opentype');
    src:url('../fonts/cocon-next-arabic-light.eot');
    src:url('../fonts/cocon-next-arabic-light.svg');
    src:url('../fonts/cocon-next-arabic-light.ttf');
    src:url('../fonts/cocon-next-arabic-light.woff');
}
@font-face {
    font-family:'ge_ss_text_medium';
    /*src: url('../font/ge_ss_text_medium.eot');*/
    src: url('../font/ge_ss_text_medium.eot?#iefix') format('embedded-opentype'),
         url('../font/ge_ss_text_medium.woff') format('woff'),
         url('../font/ge_ss_text_medium.ttf') format('truetype');
    src:url(../fonts/ge_ss_text_medium.eot);
    src: url('../font/ge_ss_text_medium.eot?#iefix') format('embedded-opentype');
    src:url(../fonts/ge_ss_text_medium.svg);
    src:url(../fonts/ge_ss_text_medium.ttf);
    src:url(../fonts/ge_ss_text_medium.woff);
}

@font-face {
    font-family:'ge_ss_two_medium';    
    /* src: url('../font/ge_ss_two_medium.eot');*/
    src: url('../font/ge_ss_two_medium.eot?#iefix') format('embedded-opentype'),
         url('../font/ge_ss_two_medium.woff') format('woff'),
         url('../font/ge_ss_two_medium.ttf') format('truetype');
    src:url(../fonts/ge_ss_two_medium.eot);
    src: url('../font/ge_ss_two_medium.eot?#iefix') format('embedded-opentype');
    src:url(../fonts/ge_ss_two_medium.svg);
    src:url(../fonts/ge_ss_two_medium.ttf);
    src:url(../fonts/ge_ss_two_medium.woff);
}

@font-face {
    font-family:'entypo';    
    src: url('../font/entypo-webfont.eot');
    src: url('../font/entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/entypo-webfont.woff') format('woff'),
         url('../font/entypo-webfont.ttf') format('truetype');
    src:url('../fonts/entypo-webfont.eot');
    src: url('../font/entypo-webfont.eot?#iefix') format('embedded-opentype');
    src:url('../fonts/entypo-webfont.svg');
    src:url('../fonts/entypo-webfont.ttf');
    src:url('../fonts/entypo-webfont.woff');
}


@font-face {
    font-family:'modernpics';    
    /*src: url('../font/modernpics.eot');*/
    src: url('../font/modernpics.eot?#iefix') format('embedded-opentype'),
         url('../font/modernpics.woff') format('woff'),
         url('../font/modernpics.ttf') format('truetype');
    src:url('../fonts/modernpics.eot');
    src: url('../font/modernpics.eot?#iefix') format('embedded-opentype');
    src:url('../fonts/modernpics.svg');
    src:url('../fonts/modernpics.ttf');
    src:url('../fonts/modernpics.woff');
}


header {
    width:100%;
    background-color:#333333;
    color:#fff;    
    height:85px;
}

footer  {
     width:100%;
    background-color:#333333;
    color:#fff;
    height:40px;
    padding:10px !important;
    font-size:12px !important;    
    direction:ltr;
    text-align:left;   
    font-family:Tahoma;
     font-weight:bold;
        }
.row {
margin:0 !important;
}

.MainContent {
    min-height:300px;
}


.login-menu li a {
    padding:0 !important;    
}

.login-menu .dropdown>a:hover, .login-menu .dropdown>a:focus, .login-menu .dropdown>a{
    background: none !important;
    transition:background-color .5s;
    -moz-transition:background-color .5s;
    -webkit-transition:background-color .5s;
    -ms-transition:background-color .5s;
}

.login-menu .open>a:hover, .login-menu .open>a:focus, .login-menu .open>a{
    background: none !important;
    transition:background-color .5s;
    -moz-transition:background-color .5s;
    -webkit-transition:background-color .5s;
    -ms-transition:background-color .5s;
}
.logout li a {
    display:block;
    margin:5px;
    text-decoration:none;
}
.user {
    padding-top:18px;
    padding-bottom:15px;
    float:right;
    padding-right:21px;
    height:85px;
    position:relative;
}
.user .arrow_menu {
    padding-top: 34px;
    display: inline-block;
    vertical-align: top;
    color:#fff;
}
.user .vl {
    width:1px;
    height:43px;
    margin-top:7px;
    background:#3e3e3e;
    margin-right:15px;
    display: inline-block;
}
.user .user_img {
    width:56px;
    height:56px;
    margin-right: 14px;
    display: inline-block;
}
.user .user_img img {
    width:56px;
    height:56px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    border:3px solid #2CCE01;
}

.status img {
    width:28px !important;
    height:28px !important;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
}
.status {
    padding:5px !important;
}


.user p {
    margin-right:11px;
    display: inline-block;
    vertical-align: top;
    padding-top: 30px;
    color:#fff;
}
.user span {
    display:block;
    line-height:9px;
    margin-top:-8px;
    width:180px;
}

.user .statusbox {    
    position:absolute;    
    right:130px;
    width:250px;
    background-color:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    height:28px;
    margin-top:3px;
    }
.user .statusbox input[type="text"] {
    height:25px;
    font-size:13px;    
    border:0px !important;
    width:210px;
    }

.input-ok {
    position:absolute;
    top:9px;
    left:5px;
    text-decoration:none !important;
    cursor:pointer;
}

.input-cancel {
    position:absolute;
    top:9px;
    left:20px;
    text-decoration:none !important;
    cursor:pointer;
}
.logo {
    width:20%;
    float:left;
    padding:20px;
    border-right:2px solid #fff;
    margin:20px 0px;    
}

#help {
float: left;
margin-left: 6%;
}
.help div:hover{
    background: #010101;
    transition:background-color .5s;
    -moz-transition:background-color .5s;
    -webkit-transition:background-color .5s;
    -ms-transition:background-color .5s;
}
.help div {
    cursor: pointer;
    float:left;    
    height:40px;
    background-color:#1a1a1a;
    margin-top:25px;
    margin-bottom: 10px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -ms-border-radius:4px;
    border-bottom:1px solid #404040;
    padding-top:9px;
    padding-bottom:10px;
    padding-right:10px;
    padding-left:10px;
    margin-right:10px;
    position:relative;
    
}

.help div a .badge {
    background-color:#f00;
    display:inline-block;
    top:-10px;    
    position:absolute;
    left:-5px;
    font-weight:normal;
    font-size:14px;
    
}

.help div.pageName {
    cursor: auto;
    float:left;
    font-size:25px;    
    height:40px;
    background:none;
    margin-top:20px;
    margin-bottom: 10px;
    border-radius:0px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -ms-border-radius:4px;
    border-bottom:0px solid #404040;
    padding-top:9px;
    padding-bottom:10px;
    padding-right:5px;
    padding-left:4px;
    margin-right:5px;
}
.help div.pageName:hover{
    background: none;    
}

.help div i {
    float:right;
}
.help div a {
    font-size:16px;
    line-height:14px;
    color:white;
    display:block;
    float:right;    
    padding-right:8px;
    text-decoration:none;
    padding-top:5px;
}

.help>a{
    display: block;
    float: left;
    margin-top: 10px;    
    margin-bottom:10px;
    padding-right:25px;
}



.main_menu {
    width:4.3%;    
    background:#2e2e2e;
    margin-top:1%;
    /*left:86.8%;*/
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;        
    box-shadow: 0 0 2px 1px #ababab;    
    float:right;
    direction:ltr;
    min-height:600px;
    margin-right:.2%;
}
.main_menu ul {
    width:100%;
}
.menu_clicked {
    width:124px;
    color:white;
    text-decoration:none;
}
.main_menu ul li {
    height:88px;
    display:block;
    padding-top:15px;
    transition:background-color .5s ease;
    -moz-transition:background-color .5s ease;
    -webkit-transition:background-color .5s ease;
    -ms-transition:background-color .5s ease;
    text-align:center;
    width:100%;
    position:relative;
}
.main_menu ul li i{
    padding-top:10px !important;
     display:inline-block;
     color:#fff;
     width:100%;
    text-align:center;

}

.main_menu ul li:hover {
    background-color:#FEC200;        
}

.main_menu ul li.selected {
    background-color:#FEC200;        
}

.main_menu ul hr {
    height:1px;
    display:block;
    color:#585858;
    width:50%;
    margin:0 auto;
    opacity:0.4;
    display: none;
}
.main_menu ul li:hover hr {
    display:none;
}
.main_menu ul li:hover a {
    display:block;    
}

.main_menu ul li:hover {
    display:block;    
    cursor:pointer;
}
.main_menu.open ul li a {
    transition: opacity .5s;
    -webkit-transition: opacity .5s;

}
.main_menu.open ul li:hover a {
    color: #fff;
}

.main_menu.open ui li a {
    color: #a1a1a1;
}

.main_menu.open ul li.selected a {
    color: #fff;
}
.main_menu ul li a {
    text-align:center;
    padding-top:30px;
    opacity: 0;
    text-decoration:none;
    font-size:20px;    
    line-height:14px;    
    color: #a1a1a1;
    display: block;
    height:88px;
    position:absolute;
    width:100%;
    margin:0 auto;
    top:0;
    text-align:center;
}

.main_menu ul li img {
    padding-top:29px;
    margin:0 auto;
    display:block;
}


.inner_main {
    width:95%;
    padding-bottom:25px;
    float:right;
    border:none;
    background: #f4f4f4;
    border: 1px solid #b7b7b7;
    border-radius: 5px 0 0 5px;
    z-index:1;    
    margin-top:.5%;
    min-height:610px;
    margin-bottom:10px;
    margin-left:.3%;
}

.HomeInner {
    width:100%;
    padding-bottom:25px;
    float:left;
    border:none;
    background: #E5E5E5;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    z-index:1;    
    margin-top:1%;
    min-height:610px;
    margin-bottom:10px;
}

.blockBoxshadow {
    border:1px solid #E5E5E5;
    background: #fff;    
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    box-shadow:0px 5px 3px #ccc;
    padding:10px;
}

.blockBoxshadow .title {
    font-size:20px;
    }

.blockBox {
   /* border:1px solid #E5E5E5;
    background: #fff;    
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    box-shadow:0px 5px 3px #ccc;*/
    padding:10px;    
}

.blockBoxBlack {
    border:1px solid #333333;
    background: #333333;    
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;    
    padding:20px;
    color:#fff;
    width:350px;
    padding-bottom:0px;    
}

.blockBoxBlack a {
    color:#fff !important;
    text-decoration:none;
    font-size:13px;
    }

.form-group {
    margin-bottom:3px !important;
}
.form-group input[type="text"], .form-group textarea,.form-group input[type="password"],.form-group input[type="file"],.form-group select{
    margin-bottom:3px !important;   
    border:1px solid #F6D355; 
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;
}
.form-group input[type="file"] {
    font-size:12px !important;
    padding:2px;
    }

.form-control {
    padding:3px 10px !important;
}



.customtxtarea {
  display: block;
  width: 100%;
  padding: 0px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
 
}

.customtxtarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}



.blockBoxBlack .form-group input[type="text"],.blockBoxBlack .form-group input[type="password"]{
    margin-bottom:5px !important;   
    border:1px solid #666666; 
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;
    background-color:#666666;
    color:#fff;
}

.AcceptedAgreement input {
    float:right;
    border:1px solid #F6D355 !important; 
    border-radius:5px !important;
    -moz-border-radius:5px !important;
    -webkit-border-radius:5px !important;
    -ms-border-radius:5px !important;    
}
.AcceptedAgreement label {
    float:right;
    width:80%;
    padding-right:10px;
}
.margin20 {
    margin:10px 10px 5px 10px;
}

.btn-group .btn {
    z-index:100 !important;
}
#EditProfilePic {
    display:none;
    position:absolute;
    top:90px;  
    right:15px;  
}

.profileImageEdit:hover #EditProfilePic {
    display:block;
}
.remember input {
    float:right;
    border:1px solid #F6D355 !important; 
    border-radius:5px !important;
    -moz-border-radius:5px !important;
    -webkit-border-radius:5px !important;
    -ms-border-radius:5px !important;    
}
.remember label {
    float:right;
    font-size:12px;
    margin:4px 0 0 ;
}
.remember label:before {
    content:"\00a0";
    
}
.remember {
    padding-left:10px;
}

.header {
    background:url(../images/home/Back.jpg) no-repeat;    
    background-size:100%;
    min-height:442px;
    width:100%;
    margin:0 auto;
}
.content {
    width:1280px;
    margin:0 auto !important;
}

hr {
    background:#dededf;
    height:1px;
    margin-right:20px;
    width:840px;
    border:none;
}

.Altodd {background-color:#CCCCCC !important;padding:5px !important;}
.Alteven {background-color:#D9D9D9 !important;padding:5px !important;}


#onlinepeople .Altodd {
    padding-bottom:1px !important;
    font: bold 10px tahoma;
}
#onlinepeople .Alteven {
    padding-bottom:1px !important;
    font: bold 10px tahoma;
}
#offlinepeople .Altodd {
    padding-bottom:1px !important;
    font: bold 10px tahoma;
}
#offlinepeople .Alteven {
    padding-bottom:1px !important;
    font: bold 10px tahoma;
}
#helpcontact a {
    color:#f00 !important;
    
}
.friendpic {
    width:28px;
    height:28px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%; 
    float:right;
    margin:5px;    
    margin-top:-2px;
}

img.online {
    border:3px solid #2CCE01 !important;
}
img.busy {
    border:3px solid #f00 !important;
}
img.away {
    border:3px solid #EAB904 !important;
}
img.offline {
    border:3px solid #404040 !important;
}

.type_1 {
    color:#000 !important;
}
.type_2 {
    color:#808040 !important;
}
.type_3 {
    color:#FF00FE !important;
}
.type_4 {
    color:#CCCC00 !important;
}



/**** entypo icons ******/
.entypoicon {
    font-family:'entypo' !important;
    font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none !important;
  background-position: 0% 0%;
  background-repeat: repeat;    
}

@-moz-document url-prefix() {
    .entypoicon {
        margin-top:-20px;
    }
}


.modernicon {
    font-family:'modernpics' !important;
    font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none !important;
  background-position: 0% 0%;
  background-repeat: repeat;  
}

.iconentypo-cp:before { content:'\006b';}
.iconentypo-profile:before { content :'\002b';}
.iconentypo-chats:before { content :'\0039';}
.iconentypo-help:before { content :'\0062';}
.iconentypo-menu:before { content :'\0069';}
.iconentypo-phone:before { content :'\0021';}
.iconentypo-bell:before { content :'\003d';}
.iconentypo-addfriend:before { content :'\002d';}

.iconentypo-inbox:before { content: '\002a';}
.iconentypo-sent:before { content: '\0029';}
.iconentypo-deleted:before { content: '\0075';}
.iconentypo-newmsg:before { content: '\0033';}
.iconentypo-newfolder:before { content: '\006a';}

.iconmodern-createroom:before { content :'\0070';}
.iconmodern-credit:before { content :'\0024';}
.iconmodern-friends:before { content: '\0067';}
.iconmodern-mainlist:before { content: '\0035';}

.iconmodern-balance:before { content :'\0023';}
.iconmodern-statement:before { content :'\0034';}
.iconmodern-acctype:before { content: '\0072';}
.iconmodern-roomtype:before { content: '\0065';}
.iconmodern-premium:before { content: '\004a';}

.btn-main {
  color: #000;
  background-color: #FEC200;
  border-color: #F0B803;
}

.btn-main:hover,
.btn-main:focus,
.btn-main:active,
.btn-main.active,
.open .dropdown-toggle.btn-main {
  color: #ffffff;
  background-color: #F0B803;
  border-color: #DBA802;
}

.btn-main:active,
.btn-main.active,
.open .dropdown-toggle.btn-main {
  background-image: none;
}

.btn-main.disabled,
.btn-main[disabled],
fieldset[disabled] .btn-main,
.btn-main.disabled:hover,
.btn-main[disabled]:hover,
fieldset[disabled] .btn-main:hover,
.btn-main.disabled:focus,
.btn-main[disabled]:focus,
fieldset[disabled] .btn-main:focus,
.btn-main.disabled:active,
.btn-main[disabled]:active,
fieldset[disabled] .btn-main:active,
.btn-main.disabled.active,
.btn-main[disabled].active,
fieldset[disabled] .btn-main.active {
  background-color: #D7B33D;
  border-color: #BF9E34;
}

.btn-primary .badge {
  color: #428bca;
  background-color: #fff;
}

.checkbox-main {
    padding-top:0 !important;    
}
.checkbox-main label {
    margin-right:10px;
    font-weight:normal;
    font-size:14px;
    }
.radio-inlineMain label {
    margin-right:10px;
    font-weight:normal;
    font-size:14px;}
.radio-inlineMain input[type="radio"] {
  float: right;
  margin-right: 5px;
}


.radio-inlineMain{
  display: inline-block;
  padding-right: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}

.singleuser, .jslink {
    cursor:pointer;    
}

.singleuser i {
    transition: all 0.7s ease-in-out 0s;
    -webkit-transition: all 0.7s ease-in-out 0s;
    -o-transition: all 0.7s ease-in-out 0s;
    display:inline-block !important;
}
.singleuser:hover i {
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    opacity:0.2;
}

.headerRow {
    font-size:13px;
    text-align:right;
    padding:0px !important;
    border-bottom: 2px solid #FEC200;
    height:20px;
    color:#000;
}
.ContentRow {
    font-size:13px;
    text-align:right;
    padding:5px 0px !important;
    border-bottom: 2px solid #FEC200;
    height:25px;
    color:#000;
}

.center {
    text-align:center;
}


.adminsTable {
    width:90%;
    margin:10px;    
}

.adminsTable th{
    color:#000;
    text-align:center;
    background-color:#FEC200;
    height:25px;
    vertical-align:middle;
}

.adminsTable td{    
    text-align:center;    
    vertical-align:middle;
    height:25px;
}

.adminsTable td a {
    text-decoration:none;
        }

/* modal */
.modal-header {
    padding-top:5px !important;
    padding-bottom:3px !important;
}
.modal-body {
    padding-top:5px !important;
    padding-bottom:3px !important;
}
.modal-footer {
    margin-top:3px !important;
    padding-bottom:8px !important;
    padding-top:8px !important;
}

#homeNav .nav {
    margin-top:-10px !important;
}

#homeNav .nav-tabs > li .close {
			    margin: -2px 10px 0 0px;
			    font-size: 18px;
                float:left !important;
			}

#homeNav .nav > li > a {
    padding:2px 12px !important;
    border-radius:10px !important;
    -moz-border-radius:10px !important;
    -webkit-border-radius:10px !important;
    -ms-border-radius:10px !important;
    
}

#homeNav .nav-tabs {
    border-bottom:0px !important;
}

#homeNav .nav-tabs > li.active > a,#homeNav .nav-tabs > li.active > a:hover,#homeNav .nav-tabs > li.active > a:focus {
    border:2px solid #fff !important;
    background-color:#ddd;
    color:#000;
}

#homeNav .nav-tabs > li > a,#homeNav .nav-tabs > li > a:hover,#homeNav .nav-tabs > li > a:focus {
    border:2px solid #ddd !important;
    background-color:#fff;
    color:#000;
}

.camera, .hand, .mic , .mark{
    display:none;
}

.RoomAdminMenu {
width:200px;
}

/* auto complete */
.ui-autocomplete {
    z-index:2000;
}

/* wysiwyg */
.wysiwyg-font-size-large {
  font-size: large;
}
.wysiwyg-font-size-small {
  font-size: small;
}
.wysiwyg-font-size-xlarge {
  font-size: x-large;
}
.wysiwyg-font-size-xsmall {
  font-size: x-small;
}
.wysiwyg-font-size-medium {
  font-size: medium;
}


.wysiwyg-color-yellow {
  color: yellow ;
}
.wysiwyg-color-green {
  color: green;
}
.wysiwyg-color-blue {
  color: blue;
}

.colorDiv {
    height:15px;
    width:20px;
    padding:0px;margin:3px;
}
#colorsMenu  > li > a {
    padding:2px !important;
}

#colorsMenu > li.divider {
    background-color:transparent !important;
}
#colorsMenu > li > a:hover {
    background-color:transparent !important;
}

.itemColor {
    float:right;
    height:15px;
    width:20px;
    padding:0px;margin:3px;
}


#smilesMenu > li > a {
    padding:2px !important;
}


#smilesMenu > li.divider {
    background-color:transparent !important;
}
#smilesMenu > li > a:hover {
    background-color:transparent !important;
}
.itemImage {
    width:auto;
    height:auto;
    float:right;
    margin:1px;
}

.MsgHeader th {
    text-align:center !important;
}

.awesome {
	font-family: 'FontAwesome';
	vertical-align: middle;
}

.friend-link {
    /*position:relative;*/
    cursor:pointer;
}

.friend-link .popup-menu {
	position: absolute;	
	right: 100px;
    top:25px;
	display: none;
	z-index: 888888888;
    list-style:none;
}

.profileMenu {
    width:450px;
    background-color:#000;
    padding:10px;
    border-bottom:5px solid #FEC200;
    color:#fff;    
}
.profileMenu a {
    color:#fff !important;
    }
/*
.friend-link .popup-menu a {
	display: block;
	line-height: 20px;
	background-color: #333;
	color: #999;
	padding: 0 10px;
}
.g-dark-list > li {
    border-bottom:1px solid #262626;
    border-top:1px solid #404040;
}

.friend-link .popup-menu a:hover {
	background-color: #999999;
}
*/
.friend-link:hover .popup-menu {
	display: block;
}


/**/

.g-dark {
    color: #999;
}

.g-dark-bg {
    background-color: #333;
}

.g-dark a, .g-dark .sc-type-light {
    color: #ccc;
    text-shadow: 0 1px 0 #000;
}

    .g-dark a:hover, .g-dark a:focus {
        color: #f2f2f2;
    }

.g-dark h1, .g-dark .sc-type-h1, .g-dark h2, .g-dark .sc-type-h2, .g-dark h3, .g-dark .sc-type-h3 {
    color: #999;
}

.g-dark-list {
    background-color: #333;
    border: 1px solid #404040;
    border-width: 0 1px;
}

    .g-dark-list:empty {
        border-bottom-width: 0;
    }

    .g-dark-list > li {
        border-bottom: 1px solid #262626;
        border-top: 1px solid #404040;
    }

.g-dark-list > li > a, .g-dark-selected {
    display: block;
    position: relative;
    padding: 8px 10px;
}

    .g-dark-list > li > a:hover, .g-dark-list > li > a:focus, .g-dark-selected {
        outline: 0;
        color: #fff;
        background: #262626;
        border-top: 1px solid #262626;
        margin-top: -1px;
    }

li.g-dark-selected {
    border-top: 1px solid #262626;
    margin-top: 0;
}

.g-dark-list > li > a:hover:before, .g-dark-list > li > a:focus:before, .g-dark-selected:before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    bottom: -1px;
    width: 3px;
    background: #f50;
    background: -webkit-linear-gradient(#f70,#f30);
    background: linear-gradient(#f70,#f30);
}


.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 20px;
    position: relative;
}
.rating-input 
{
    font-family:FontAwesome;
    /*float: right;
    width: 16px !important;
    height: 16px !important;*/
    padding: 0;
    /*margin: 0 0 0 -16px;*/
    opacity: 0;
    display:none;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    color:#f70;
    /*background-position: 0 0;*/
}
.rating-star,
.rating:hover .rating-star 
{
    font-family:FontAwesome;
    position: relative;
    float: left;
    display: block;
    width:20px;    
    Color: #aaaaaa;
    cursor:pointer;
    /*background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;*/
}


/**/
.un-read
{
    font-weight:bold;
}

#msgmain .badge {
    background-color:#f00 !important;
}

