@charset "utf-8";
/* CSS Document */

/*body {
background:#242424;
}*/

/********** BUTTONS ******************/
.largeImage_prev
{
color:#000;
position:absolute;
left:0px;
top:0px;
width:48px;
height:48px;
text-align:center;
background:#fff;
display:none;
cursor:pointer;
z-index:999;
background:url(../Images/arrow_left.png) no-repeat;
}
.largeImage_prev span, .largeImage_next span { visibility:hidden; }

.largeImage_next
{
color:#000;
position:absolute;
right:0px;
top:0px;
width:48px;
height:48px;
text-align:center;
display:none;
cursor:pointer;
z-index:999;
background:url(../Images/arrow_right.png) no-repeat;
}
.largeImage_nextPage {
width:48px;
height:48px;
position:absolute;
background:url(../Images/arrow_right_double.png);
bottom:0px;
right:0px;
cursor:pointer;
z-index:999;
display:none;
}
.largeImage_prevPage {
width:48px;
height:48px;
position:absolute;
background:url(../Images/arrow_left_double.png);
bottom:0px;
left:0px;
cursor:pointer;
z-index:999;
display:none;
}
.largeImage_flickrLink {
float:left;
width:48px;
height:48px;
background:url(../Images/flickr.png) no-repeat;
position:absolute;
top:50px;
left:0px;
z-index:999;
display:none;
font-size:0pt;
text-decoration:none;
}
.largeImage_flickrLink span { visibility:hidden; }
/********** END BUTTONS ******************/

/********** LARGE IMAGE SECTION ******************/
#Gallery, #flickrTest
{
    width: 700px;
    margin: 0px auto;
    background: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 0px;
    border: 1px solid #cccccc;
    direction:ltr;
}
.largeImageWrap {
position:relative;
z-index:100;
background:url(../Images/ajax-loader.gif) center center no-repeat;
}
.caption
{
    color: #00CC00;
    text-align: center;
    font-size: 15pt;
    min-height: 35px;
    font-style: italic;
    clear: left;
    margin: 10px 0px;
}
.largeImage
{
position:relative;
margin:0px auto;
text-align:center;
}

.largeImage img
{
width: 600px;
}
/********** END LARGE IMAGE SECTION ******************/

/********** THUMBNAILS AND SLIDER ******************/
.thumbs img, .galleryUL img
{
width:100px;
cursor:pointer;
height:100px;
opacity:.7;
filter:alpha(opacity=70);
border:0px;
}
.thumbs, .galleryUL { top:0px; left:0px; }
.sliderGallery {
background: url(../Images/producdtbrowser_background_20070622.jpg) no-repeat;
overflow: hidden;
position: relative;
padding: 10px;
height: 160px;
width: 570px;
z-index:999;
margin:40px auto 0px auto;
} 
.sliderGallery UL {
position: absolute;
list-style: none;
overflow: none;
white-space: nowrap;
padding: 0;
margin: 0;
/*border-bottom: 1px solid black;
border-top: 1px solid black;*/
}
.sliderGallery UL LI {
display: inline;
/*float:left;
padding-right:5px;*/
}
.slider {
width: 542px;
height: 17px;
margin-top: 110px;
margin-left: 5px;
padding: 1px;
position: relative;
background: url(../Images/productbrowser_scrollbar.png) no-repeat;
float:left;display:inline;
/*direction:rtl;*/
}     
.handle {
position: absolute;
cursor: move;
height: 17px;
width: 181px;
top: 0;
background: url(../Images/productbrowser_scroller.png) no-repeat;
z-index: 100;
/*direction:rtl;*/
}    
.slider span {
color: #bbb;
font-size: 80%;
cursor: pointer;
position: absolute;
z-index: 110;
top: 3px;
direction:rtl;
}
/********** END THUMBNAILS AND SLIDER ******************/