<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="dbConnection" value="Data Source=mena-pc;Initial Catalog=Chat2Connect_db;User ID=sa;Password=sqladmin" />
    <add key ="amsCoonection" value="rtmp://192.168.1.100/chat2connect/"/>
    <!--<add key ="amsCoonection" value="rtmp://michaelyousef1.srfms.com/live/"/>-->    
    <!--<add key="dbConnection" value="Data Source=localhost;Initial Catalog=chat2connect_local;User ID=Chat2Connect_dbLogin;Password=!Chat2Connect_dbLogin!123"/>-->
    <add key="accountpics" value="files/users/accountpics" />
    <add key="roomspics" value="files/users/rooms" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="LocalSqlServer" connectionString="Data Source=mena-pc;Initial Catalog=Chat2Connect_db;User ID=sa;Password=sqladmin" providerName="System.Data.SqlClient" />
    <!--<add name="LocalSqlServer" connectionString="Data Source=localhost;Initial Catalog=chat2connect_local;User ID=Chat2Connect_dbLogin;Password=!Chat2Connect_dbLogin!123" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.webServer>
        <httpErrors errorMode="Detailed" />
        <asp scriptErrorSentToBrowser="true"/>
        <handlers>        
          <remove name="ExtensionlessUrl-Integrated-4.0"/>        
          <remove name=" ExtensionlessUrl-ISAPI-4.0_32bit "/>     
        </handlers>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true">
         </modules>
    </system.webServer>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <roleManager enabled="true" />
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.5" />     
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" enablePasswordRetrieval="true" passwordFormat="Encrypted" enablePasswordReset="true" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="true" requiresUniqueEmail="false" />
      </providers>
    </membership>
    <machineKey validationKey="B4443E3E4BE325129357BB90A6DFE010D993BBFA742F206184299F640BC0D656E53D622BD99F65F6DE849ED25578FE982B6A1A2E18A8EEFEDF34E607D20F8223" decryptionKey="B6164A5AC708ABD9E132EE30C9B175F97A57AA7CEE1038CC7024D187C9004857" validation="SHA1" decryption="AES" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<location path="Services/Services.asmx">
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
</location>
</configuration>