<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="GMaster.master.cs" Inherits="Flights_GUI.Test.GOL.GMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <script src="scripts/ga.js" type="text/javascript"></script>
    <script src="scripts/jquery-1.4.3.min.js" type="text/javascript"></script>
    <script src="scripts/jquery.mega-form.js" type="text/javascript"></script>
    <script src="scripts/jquery.tools.min.js" type="text/javascript"></script>
    <script src="scripts/jquery.meio.mask.min.js" type="text/javascript"></script>
    <script src="scripts/jquery-ui-1.8.2.custom.min.js" type="text/javascript"></script>
    <script src="scripts/jquery.colorbox-min.js" type="text/javascript"></script>
    <script src="scripts/jquery.swfobject-min.js" type="text/javascript"></script>
    <script src="scripts/Carrossel-GOLInforma.js" type="text/javascript"></script>
    <script src="scripts/box-passagens.js" type="text/javascript"></script>
    <script src="scripts/selectbox-0.5.js" type="text/javascript"></script>
    <script src="scripts/tvflash.js" type="text/javascript"></script>
    <script src="scripts/menus.js" type="text/javascript"></script>
    <script src="scripts/jquery.cycle.all.js" type="text/javascript"></script>
    <script src="scripts/formularios.js" type="text/javascript"></script>
    <script src="scripts/funcoes-consolidadas.js" type="text/javascript"></script>
    <script src="scripts/s_code.js" type="text/javascript"></script>
    <script src="scripts/detectmobilebrowser.js" type="text/javascript"></script>

    <link href="styles/VoeGol.css" rel="stylesheet" type="text/css" />
    <link href="styles/Print.css" rel="stylesheet" type="text/css" />
    <link href="styles/formasPagamento.css" rel="stylesheet" type="text/css" />
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
