<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="UserFilePath" value="~/UploadedFiles/pages"/>
    <add key="mail" value="info@lospaziofurniture.com"/>
    <add key="mailTo" value="info@lospaziofurniture.com"/>
    <add key="mailpass" value="!123456!"/>
    <add key="mailserver" value="mail.lospaziofurniture.com"/>
    <add key="dbConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Persist Security Info=True"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true"/>
  </system.web>
</configuration>