<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="ApplicationServices"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EFMembership3;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<membership defaultProvider="OmidIDMembershipProvider">
			<providers>
				<clear/>
				<add name="OmidIDMembershipProvider"
					 type="OmidID.Web.Security.EFMembershipProvider`2[[OmidID.Web.Security.Default.AspNet.AspUser, OmidID.Web.Security.EFMembershipProvider],
																      [System.Guid]], OmidID.Web.Security.EFMembershipProvider"
					 connectionStringName="ApplicationServices"
					 tablePrefix="aspnet_"
					 enablePasswordRetrieval="false"
					 enablePasswordReset="true"
					 requiresQuestionAndAnswer="false"
					 requiresUniqueEmail="false"
					 maxInvalidPasswordAttempts="5"
					 minRequiredPasswordLength="6" 
					 minRequiredNonalphanumericCharacters="0" 
					 passwordAttemptWindow="10"
					 applicationName="/" />
			</providers>
		</membership>

		<roleManager enabled="true" defaultProvider="OmidIDRoleProvider">
			<providers>
				<clear/>
				<add name="OmidIDRoleProvider"
				  type="OmidID.Web.Security.EFRoleProvider`3[[OmidID.Web.Security.Default.AspNet.AspRole, OmidID.Web.Security.EFMembershipProvider],
														     [OmidID.Web.Security.Default.AspNet.AspUserInRole, OmidID.Web.Security.EFMembershipProvider],
													         [System.Guid]], OmidID.Web.Security.EFMembershipProvider"
				  connectionStringName="ApplicationServices" tablePrefix="aspnet_"
				  applicationName="/" />
			</providers>
		</roleManager>

	</system.web>

</configuration>
