<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <authentication mode="Forms" />
        <roleManager enabled="true" />
        <compilation debug="true" targetFramework="4.0" />
      <membership>
        <providers>
          <remove name="AspNetSqlMembershipProvider"/>
          <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" enablePasswordRetrieval="true" passwordFormat="Encrypted" enablePasswordReset="true" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"/>
        </providers>
      </membership>
      <machineKey validationKey="7A8A4E079CC711D44AE6A735EF904B595013239989776AA2AD5F852E2A2903A0C87F772F03E7F1191C7AC9678056AD9F8DBD9E78FA926328362ABA50AC2AF8B9" decryptionKey="081394088FAC2017E6CE1788CF265E3F191B9BD4C80BBACC0F1C79EFA3E929DF" validation="SHA1" decryption="AES" />
    </system.web>
  <appSettings>
    <add key="dbConnection" value="Data Source=mena-pc;Initial Catalog=I_stockdb;User ID=sa;Password=sqladmin"/>
    <!--<add key="dbConnection" value="Data Source=localhost;Initial Catalog=I_stockdb;User ID=I_stockdb_login;Password=!I_stockdb_login!123"/>-->
  </appSettings>
  <connectionStrings>
    <clear/>    
    <!--<add name="LocalSqlServer" connectionString="Data Source=localhost;Initial Catalog=I_stockdb;User ID=I_stockdb_login;Password=!I_stockdb_login!123" providerName="System.Data.SqlClient" />-->
    <add name="LocalSqlServer" connectionString="Data Source=mena-pc;Initial Catalog=I_stockdb;User ID=sa;Password=sqladmin" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
