@charset "utf-8";
/* CSS Document */
/*-----------body open-----------*/

@font-face {	font-family: "MyriadPro"; src: url(fonts/MyriadPro-Cond.eot);/* TTF file for CSS3 IE */ }
@font-face { 	font-family: "MyriadPro"; src: url(fonts/MyriadPro-Cond.ttf);/* TTF file for CSS3 browsers */ }

body { background-image: url(../images/site_bg.jpg); background-position: center top; background-repeat: no-repeat; margin: 0px; color:#fff;  }

.BlueBorder { width:100%; margin-bottom:10px; min-height:5px; background-color:#015699; } 
.Container { width:1000px; margin:0px auto; } 


h1 { width:660px; height:29px; padding:6px 0px 0px 15px; margin:0px; text-transform:uppercase; color:#FFF; background-image: url(../images/title675.png); background-position: center top; background-repeat: no-repeat; font-family:MyriadPro; font-size:16px; font-weight:lighter;}
h2 { width:475px; height:29px; padding:6px 0px 0px 15px; margin:0px; text-transform:uppercase; color:#FFF; background-image: url(../images/title490.png); background-position: center top; background-repeat: no-repeat; font-family:MyriadPro; font-size:16px; font-weight:lighter;}
h3 { width:285px; height:29px; padding:6px 0px 0px 15px; margin:0px; text-transform:uppercase; color:#FFF; background-image: url(../images/title300.png); background-position: center top; background-repeat: no-repeat; font-family:MyriadPro; font-size:16px; font-weight:lighter;}
h4 { width:218px; height:29px; padding:6px 0px 0px 15px; margin:0px; text-transform:uppercase; color:#FFF; background-image: url(../images/title233.png); background-position: center top; background-repeat: no-repeat; font-family:MyriadPro; font-size:16px; font-weight:lighter;}
h5 { color:#3f83c4; margin:0px 0px 10px 0px; font-family:MyriadPro; font-size:20px; font-weight:lighter; padding:0px; }
h6 { width:713px; height:29px; padding:6px 0px 0px 15px; margin:0px; text-transform:uppercase; color:#FFF; background-image: url(../images/title728.png); background-position: center top; background-repeat: no-repeat; font-family:MyriadPro; font-size:16px; font-weight:lighter;}
/*----- header start -----*/

.Header { width:1000px; margin-bottom:5px; }
.Logo { width:272px; float:left; height:90px; padding-top:10px; }
.TopMenuBanner { margin-bottom:5px; width:728px; float:left; }
.TopMenu { height:16px; }
.TopMenu a { border:0; }
.AdArea728 { width:728px; height:90px; }
.MenuLogin { margin-bottom:10px; }
.Login { float:left; background-image: url(../images/MenuLoginBg.png); background-position: left top; background-repeat: no-repeat; width:404px; padding:8px; height:24px; }
.Follow { float:left; width:364px; text-transform:uppercase; font-family:Tahoma, Geneva, sans-serif; font-size:10px; color:#3f83c4; }
.Follow img { float:left; margin-right:3px; padding-bottom:3px;}
.Follow span { float:left; padding-top:3px;}
.MenuLinks { float:right; width:364px; font-family:Tahoma, Geneva, sans-serif; font-size:10px; text-align:right; color:#3f83c4; }
.MenuLinks a { text-transform:uppercase; font-family:Tahoma, Geneva, sans-serif; font-size:10px; text-align:right; color:#3f83c4; text-decoration:none; }
.MenuLinks a:hover { color:#f8971d; }

.Details300 { padding:14px; width:270px; background-color:#eee; font-family:Tahoma, Geneva, sans-serif; font-size:12px; color:#5c5c5c; -moz-border-radius:  0px 0px 5px 5px; border-radius: 0px 0px 5px 5px; border:1px #dddddd solid; border-top:none;}
.Details675 { padding:14px; width:645px; background-color:#eee; font-family:Tahoma, Geneva, sans-serif; font-size:12px; color:#5c5c5c; -moz-border-radius:  0px 0px 5px 5px; border-radius: 0px 0px 5px 5px; border:1px #dddddd solid; border-top:none; text-align:justify; line-height:18px; }
.Details675 img { float:left; margin:0px 10px 10px 0px; border:1px #dddddd solid; -moz-border-radius: 5px; border-radius: 5px; }
.Control { width:530px; float:left; }
.Control ul { margin:0px; padding:0px; list-style:none; }
.Control ul li a { margin-right:4px; padding:2px 5px 5px 5px; background-image: url(../images/NewsControlBtnUp.png); background-position: canter top; background-repeat: no-repeat; width:14px; height:18px; display:block; font-size:12px; text-align:center; text-decoration:none; color:#fff; float:left; }
.Control ul li a:hover {  background-image: url(../images/NewsControlBtnOver.png); background-position: canter top; background-repeat: no-repeat; }
.ControlPause a { margin-right:4px; padding:2px 5px 5px 5px; background-image: url(../images/NewsControlPUp.png); background-position: canter top; background-repeat: no-repeat; width:14px; height:18px; display:block; font-size:1px; text-align:center; text-decoration:none; color:#fff; float:left; }
.ControlPause a:hover {  background-image: url(../images/NewsControlPOver.png); background-position: canter top; background-repeat: no-repeat; }
.Control ul li .selected {  background-image: url(../images/NewsControlBtnOver.png); background-position: canter top; background-repeat: no-repeat; }


.IntControl ul li a { margin-right:4px; padding:2px 5px 5px 5px; background-image: url(../images/NewsControlBtnUp.png); background-position: canter top; background-repeat: no-repeat; width:14px; height:18px;  font-size:12px; text-align:center; text-decoration:none; color:#fff;display:inline-block; }
.IntControl ul li a:hover {  background-image: url(../images/NewsControlBtnOver.png); background-position: canter top; background-repeat: no-repeat; }
.IntControl ul li .selected {  background-image: url(../images/NewsControlBtnOver.png); background-position: canter top; background-repeat: no-repeat; }

.Details490 { padding:14px; width:460px; background-color:#eee; font-family:Tahoma, Geneva, sans-serif; font-size:12px; color:#5c5c5c; -moz-border-radius:  0px 0px 5px 5px; border-radius: 0px 0px 5px 5px; border:1px #dddddd solid; border-top:none; text-align:justify; line-height:18px; }
.Details490 img { float:left; margin:0px 10px 10px 0px; border:1px #dddddd solid; -moz-border-radius: 5px; border-radius: 5px; }
.Details490 ul { margin:0px; padding:0px; list-style:none; }
.Details490 ul li{ list-style-type:circle; list-style-position:inside; }
.Details490 ul li a { color:#f6951d; text-decoration:none; }
.Details490 ul li a:hover { color:#3f83c4; text-decoration:none; }
.Details490 span { color:#5c5c5c; }
.Details490 a { text-decoration:none; color:#3f83c4;}
.Details490 a:hover { text-decoration:none; color:#f8971d;}

.Details233 { padding:14px; width:203px; background-color:#eee; font-family:Tahoma, Geneva, sans-serif; font-size:12px; color:#5c5c5c; -moz-border-radius:  0px 0px 5px 5px; border-radius: 0px 0px 5px 5px; border:1px #dddddd solid; border-top:none; text-align:justify; line-height:18px; }
.Details233 ul { margin:0px; padding:0px; list-style:none; }
.Details233 ul li{ list-style-type:circle; list-style-position:inside; }
.Details233 ul li a { color:#5c5c5c; text-decoration:none; }
.Details233 ul li a:hover { color:#3f83c4; text-decoration:none; }

.Details728 { padding:14px; width:698px; background-color:#dcdcdc; font-family:Tahoma, Geneva, sans-serif; font-size:12px; color:#5c5c5c; -moz-border-radius:  0px 0px 5px 5px; border-radius: 0px 0px 5px 5px; border:1px #848484 solid; border-top:none; text-align:justify; line-height:18px; }
.Details728 img { float:left; margin:0px 10px 0px 0px; border:1px #dddddd solid; -moz-border-radius: 10px; border-radius: 10px; display:block; background-color:#FFF;  }
.AdminDetails728 { padding:14px; width:698px; background-color:#eee; font-family:Tahoma, Geneva, sans-serif; font-size:12px; color:#5c5c5c; -moz-border-radius:  0px 0px 5px 5px; border-radius: 0px 0px 5px 5px; border:1px #dddddd solid; border-top:none; text-align:justify; line-height:18px; }

.xChange { background-image: url(../images/xChangeBg.png); background-position: canter top; background-repeat: no-repeat; width:645px; height:10px; padding:15px; font-family:10px; text-transform:uppercase; font-size:10px; font-family:Tahoma, Geneva, sans-serif;}

.DateShare { display:block; background-color:#ddd; padding:5px 7px 5px 7px; margin-bottom:10px; }
.Post { font-size:11px; float:left; width:50%; }
.Share { font-size:11px; float:right; width:50%; text-align:right; }

.MenuBorder { width:1px; height:40px; float:left; background-image:url(../images/MenuBorder.jpg); background-position:center top; background-repeat:no-repeat;}
.Menu { padding-left:8px; min-width:572px; float:left; height:40px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;/*width:654px;*/ width:auto; position:relative; z-index:100; background-image: url(../images/MenuBg.png); background-position: right top; background-repeat: no-repeat; font-size:12px;}
.Menu ul li a { display:block; text-decoration:none; width:auto; padding:12px 10px; text-align:center; text-transform:uppercase; color:#fff;  overflow:hidden; }
.Menu ul li ul li a { display:block; text-decoration:none; color:#fff; text-align:center; overflow:hidden; top:22px; background-color:#fff; }
.Menu ul { padding:0; margin:0; list-style: none; }
.Menu ul li { float:left; position:relative; }
.Menu ul li ul {display: none;}
.Menu ul li ul li ul {display: none;}

/* specific to non IE browsers */
.Menu ul li:hover a {color:#eee; background-image:url(../images/MenuButtonOverBg.jpg); background-position:center top; background-repeat:repeat-x; text-align:left; -moz-border-radius: 10px; border-radius: 10px;}
.Menu ul li:hover ul {display:block; position:absolute; top:40px; width:100px; left:0px;}
/* level 2 */
.Menu ul li:hover ul li ul {display:none; position:absolute; top:40px; width:100px; left:0px;}
/*.Menu ul li:hover ul li a.hide {background-image:url(../images/SubMenuOverBg.jpg); background-position:center top; background-repeat:repeat-x; color:red;}
.Menu ul li:hover ul li:hover a.hide {background-image:url(../images/sub_menu_over.png); background-position:right middle; background-repeat:no-repeat; color:#fff;}
.Menu ul li:hover ul li ul {display: none; }*/
.Menu ul li:hover ul li a { display:block; background-color:#ddd; color:#3f83c4; padding:10px 15px ;  width:160px; border-top:1px solid #999; font-size:11px;}
.Menu ul li:hover ul li a:hover {background-image:url(../images/SubMenuOverBg.jpg); background-position:center top; background-repeat:repeat-x; color:#f8971d;}
/*.Menu ul li:hover ul li:hover ul {display:block; position:absolute; right:280px; top:0;}*/
/*.Menu ul li:hover ul li:hover ul.left {right:155px;}*/
/* level 2 */
.Menu ul li:hover ul li:hover ul {display:block; position:absolute; top:0px; width:100px; left:190px;}


/****************/
.VMenuBorder { width:200px; height:1px; /*background-image:url(../images/MenuBorder.jpg); background-position:center top; background-repeat:repeat-x;*/ background-color:White;}
.VMenu { /*padding-left:8px;*/ width:200px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;/*width:654px;*/ position:relative; z-index:100; font-size:12px;background-image: url(../images/MenuBg.png); background-position: right top; background-repeat: repeat-y;}
.VMenu ul li a { display:block; text-decoration:none; width:auto; padding:12px 10px; text-align:center; text-transform:uppercase; color:#fff;  overflow:hidden; }
.VMenu ul li ul li a { display:block; text-decoration:none; color:#fff; text-align:center; overflow:hidden; top:22px; background-color:#fff; }
.VMenu ul { padding:0; margin:0; list-style: none; }
.VMenu ul li { position:relative;  }
.VMenu ul li ul {display: none;}
.VMenu ul li:hover a {color:#eee; background-image:url(../images/MenuButtonOverBg.jpg); background-position:center top; background-repeat:repeat-x; text-align:center; -moz-border-radius: 10px; border-radius: 10px;}
.VMenu ul li:hover ul {display:block; position:absolute; top:0px; width:100px; left:200px;}
.VMenu ul li:hover ul li a { display:block; background-color:#ddd; color:#3f83c4; padding:10px 15px ;  width:160px; border-top:1px solid #999; font-size:10px;}
.VMenu ul li:hover ul li a:hover {background-image:url(../images/SubMenuOverBg.jpg); background-position:center top; background-repeat:repeat-x; color:#f8971d;}
/******************/


.Content { width:1000px; margin:0px auto 20px auto; min-height:250px; }
.ContentLeft { width:675px; float:left; margin-right:25px; }
.ContentLeftDiv { margin-bottom:20px; }
.ContentLeftDiv233 { float:left; }
.ContentRight { width:300px; float:left; }
.ContentRightDiv { margin-bottom:20px; }
.ContentLeftAd160 { float:left; margin-right:25px; width:160px; height:600px; }
.ContentLeftDivRight { float:left; width:490px; }


.FooterContainer { background-color:#eeeeee; border-top:1px #848484 solid;}
.FooterContainerContent { width:1000px; margin:0px auto; padding:20px 0px; }
.FooterContainerContentLeft { width:728px; float:left; margin-right:22px; }
.FooterContainerContentRight { width:250px; float:left; }


.Footer { min-height:40px; height:auto; padding:10px 0px; background-color:#a2a2a2; text-align:center; color:#FFF; font-family:Tahoma, Geneva, sans-serif; font-size:11px; }
.Footer a { color:#FFF; text-decoration:none; }
.Footer a:hover { text-decoration:underline; }



.MenuLoginBox { padding:3px; height:16px; -moz-border-radius: 5px; border-radius: 5px; border:1px #848484 solid; font-family:Tahoma, Geneva, sans-serif; font-size:12px; width:160px; margin-right:5px; color:#3f83c4; float:left; }
.NewsEmailBox { padding:3px; height:16px; -moz-border-radius: 5px; border-radius: 5px; border:1px #848484 solid; font-family:Tahoma, Geneva, sans-serif; font-size:12px; text-transform:uppercase; width:215px; margin-right:5px; color:#3f83c4; float:left; }
.SearchBox { padding:3px; height:16px; -moz-border-radius: 5px; border-radius: 5px; border:1px #848484 solid; font-family:Tahoma, Geneva, sans-serif; font-size:12px; text-transform:uppercase; width:505px; margin-right:5px; color:#3f83c4; float:left; }
.SearchBtn a { display:block; float:left; background-image: url(../images/GrayMedBtnUp.png); background-position: center top; background-repeat: no-repeat; width:58px; height:18px; padding:3px 5px; color:#FFF; text-transform:uppercase; text-decoration:none; font-size:9px; text-align:center; font-family:Tahoma, Geneva, sans-serif; color:#fff;}
.SearchBtn a:hover { background-image: url(../images/GrayMedBtnOver.png); background-position: center top; background-repeat: no-repeat; }

.SmallBtn a { display:block; float:left; background-image: url(../images/GrayBtnUp.png); background-position: center top; background-repeat: no-repeat; width:28px; height:12px; padding:6px 5px; color:#FFF; text-transform:uppercase; text-decoration:none; font-size:9px; text-align:center; font-family:Tahoma, Geneva, sans-serif;}
.SmallBtn a:hover { background-image: url(../images/GrayBtnOver.png); background-position: center top; background-repeat: no-repeat; }

.More a { display:block; float:right; background-image: url(../images/GrayBigBtnUp.png); background-position: center top; background-repeat: no-repeat; width:105px; height:16px; padding:4px 5px; color:#FFF; text-transform:uppercase; text-decoration:none; font-size:9px; text-align:center; font-family:Tahoma, Geneva, sans-serif;}
.More a:hover { background-image: url(../images/GrayBigBtnOver.png); background-position: center top; background-repeat: no-repeat; color:#fff; }


.clear { clear:both; height:1px;}
.clear10 { clear:both; height:10px;}

#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}

.SponsorsDiv { height:100px;padding-top:15px;}
.newsItem {min-height: 220px;}

/* Search results */
.ItemHeader { background: transparent url() no-repeat;padding:3px; }
.ItemLogo {float:left;width:68px; padding:3px;}
.ItemDetails {float:left; width:555px;padding:3px;}
.ItemHead {float: left;width:70px;padding:3px;}
.ItemValue {float:left;padding:3px;}

.ui-tabs .ui-tabs-nav li a 
{
    padding:.5em .2em;
    }

#Ad2
{
    height:600px;
    }
#Ad3, #Ad4, #Ad5
{
height:175px;
    }
    
#Ad8, #Ad9
{
    height: 90px;
    }
    
    

.IconHost
{
    font-family: 'Times New Roman' , Times, serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #0066FF;
    vertical-align: middle;
    text-align: center;
    background-color: #DFDFDF;
    border: 1px solid #666666;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    padding: 5px;
}

.IconHost:hover
{
    color: #0066FF;
    background-color: #FFFFCC;
}

.IconHost a
{
    margin:0 auto;
    display:inline-block;
}


#MainNav
{
    width:512px; 
    height:50px; 
    margin:0 auto;
    padding:5px;
    list-style:none;
	vertical-align: baseline;
}

#MainNav li
{
    float:left;    
}

#MainNav li a{
 position:relative;
 display:block;
 text-decoration:none;
 padding-bottom:20px;
 width:64px;
 height:80px;
 margin: 0 auto;
 margin-top:16px;
}
#MainNav li a img{ width:100%; }

#MainNav li span.tips{display:block; text-decoration:none; font-weight:bold; }


/**************/
.MainIcons
{
    position: relative; 
	height: 80px; 
	text-align: center;
	width:600px;
	margin: 0 auto;
}

.dock-container {	
	margin: 0 auto;
	z-index:99;
	width:1000px;
	margin-top:10px;
	
}
a.dock-item {
	display: inline-block;
	width: 70px;
	color: #000;
	position: absolute;
	top: 0px;
	text-align: center;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;
	margin:10px 10px 10px 10px;
}
.dock-item img {
	border: none; 
	margin: 5px 20px 0px; 
	width: 100%; 
}
.dock-item span
{
    display: none;
    text-align: center;
    background-color: #FFCC00;
}    

/*********/

#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu img,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu {
  height: 49px;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  background: #141414;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAxCAIAAACUDVRzAAAAA3NCSVQICAjb4U/gAAAALElEQVQImWMwMrJi+v//PxMDw3+m//8ZoPR/qBgDEhuXGLoeYswhXg8R5gAAdVpfoJ3dB5oAAAAASUVORK5CYII=) 100% 100%; 
  background: -moz-linear-gradient(top, #32323a 0%, #141414 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32323a), color-stop(100%, #141414));
  background: -webkit-linear-gradient(top, #32323a 0%, #141414 100%);
  background: -o-linear-gradient(top, #32323a 0%, #141414 100%);
  background: -ms-linear-gradient(top, #32323a 0%, #141414 100%);
  background: linear-gradient(to bottom, #32323a 0%, #141414 100%);
  border-bottom: 2px solid #e05f0f;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
 background: #141414;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAxCAIAAACUDVRzAAAAA3NCSVQICAjb4U/gAAAALElEQVQImWMwMrJi+v//PxMDw3+m//8ZoPR/qBgDEhuXGLoeYswhXg8R5gAAdVpfoJ3dB5oAAAAASUVORK5CYII=) 100% 100%; 
  background: -moz-linear-gradient(top, #32323a 0%, #141414 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32323a), color-stop(100%, #141414));
  background: -webkit-linear-gradient(top, #32323a 0%, #141414 100%);
  background: -o-linear-gradient(top, #32323a 0%, #141414 100%);
  background: -ms-linear-gradient(top, #32323a 0%, #141414 100%);
  background: linear-gradient(to bottom, #32323a 0%, #141414 100%);
  color: #ffffff;
  display: inline-block;
  font-family:  Verdana;
  font-size: 9px;
  font-weight:bolder;
  line-height: 49px;
  padding: 0 5px;
  text-decoration: none;
}
#cssmenu ul {
  list-style: none;
  
}
#cssmenu > ul {
  float: left;
}
#cssmenu > ul > li {
  float: left;
}

#cssmenu > ul > li > a > img{
  float: left;
  vertical-align:middle;
  margin-top:8px;
  margin-right:5px;
  border:0;
}
#cssmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #e05f0f;
  margin-left: -10px;
}
#cssmenu > ul > li:first-child > a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}
#cssmenu > ul > li:last-child > a {
  border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
}
#cssmenu > ul > li.active a {
  box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  background: #070707;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAxCAIAAACUDVRzAAAAA3NCSVQICAjb4U/gAAAALklEQVQImWNQU9Nh+v//PxMDw3+m//8ZkNj/mRgYIHxy5f//Z0BSi18e2TwS5QG4MGB54HL+mAAAAABJRU5ErkJggg==) 100% 100%; 
  background: -moz-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26262c), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -o-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -ms-linear-gradient(top, #26262c 0%, #070707 100%);
  background: linear-gradient(to bottom, #26262c 0%, #070707 100%);
}
#cssmenu > ul > li:hover > a {
  background: #070707;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAxCAIAAACUDVRzAAAAA3NCSVQICAjb4U/gAAAALklEQVQImWNQU9Nh+v//PxMDw3+m//8ZkNj/mRgYIHxy5f//Z0BSi18e2TwS5QG4MGB54HL+mAAAAABJRU5ErkJggg==) 100% 100%; 
  background: -moz-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26262c), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -o-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -ms-linear-gradient(top, #26262c 0%, #070707 100%);
  background: linear-gradient(to bottom, #26262c 0%, #070707 100%);
  box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
}
#cssmenu .has-sub {
  z-index: 1;
}
#cssmenu .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
#cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
  background: #e05f0f;
  border-bottom: 1px dotted #ec9f6f;
  filter: none;
  font-size: 11px;
  display: block;
  line-height: 120%;
  padding: 10px;
}
#cssmenu .has-sub ul li:hover a {
  background: #b04b0c;
}
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#cssmenu .has-sub .has-sub ul li a {
  background: #b04b0c;
  border-bottom: 1px dotted #d0936d;
}
#cssmenu .has-sub .has-sub ul li a:hover {
  background: #803709;
}

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.blue_med{ background:url(../images/offers_en.gif) no-repeat; width:154px; height:44px;float:left;margin-right:5px;}
.blue_med:hover{ background-position:0 -44px;}
.green_med{ background:url(../images/request_en.gif) no-repeat; width:154px; height:44px;float:left;margin-right:5px;}
.green_med:hover{ background-position:0 -44px;}
.yellow_med{ background:url(../images/Jobs_en.gif) no-repeat; width:154px; height:44px;float:left;margin-right:5px;}
.yellow_med:hover{ background-position:0 -44px;}


.rounded_box_comp
{
    border: 3px solid #003366;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding-left:3px;
}


.videoTitle
{
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    color: #006666;
}