/* Scroller Box */
#divScroll {
 position: relative;
 width: 970px;
 height: 100px;
 overflow: hidden;
 padding-top:10px; 
}

#scroller {
/* Additional Styles*/
}

/* Scoller Box */

/* At the end of the CSS File */

/* CSS Hack Safari */
/*#dummy {;# }*/

#divScroll {
 overflow: auto;
}
