<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>

  </configSections>
  <!--<connectionStrings>
    <add name="DBDataContext"
    connectionString="Data Source=.;Initial Catalog=DBIdentity;Persist Security Info=True;User ID=sa;Password=sql2012"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <appSettings>
    <add key="Products" value="~/Files/Products/"/>
    <add key="Pages" value="~/Files/Pages/"/>
    <add key="ProductAlbums" value="~/Files/ProductAlbums/"/>

  </appSettings>
  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
    <authentication mode="Forms">
      <forms cookieless="AutoDetect" protection="All" slidingExpiration="true" loginUrl="~/AdminPanel/Accounts/Login.aspx" defaultUrl="~/AdminPanel/Default.aspx"/>
    </authentication>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="DBDataContext" connectionString="Data Source=.;Initial Catalog=DBAlraseel;Persist Security Info=True;User ID=sa;Password=sql2012" providerName="System.Data.SqlClient"/>-->
    <!--<add name="DBDataContext" connectionString="Data Source=.;Initial Catalog=dlAlraseel;Persist Security Info=True;User ID=dbAlraseel;Password=dbAlraseel!@#" providerName="System.Data.SqlClient"/>-->
    <add name="DBDataContext" connectionString="Data Source=dbAlraseel.i-valley.com;Initial Catalog=dlAlraseel;Persist Security Info=True;User ID=dbAlraseel;Password=dbAlraseel!@#" providerName="System.Data.SqlClient"/>


  </connectionStrings>
</configuration>