<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MachineIp" value="192.168.1.100"/>
    <add key="ServerIp" value="192.168.1.100"/>
    <add key="ServerPort" value="9999"/>
    <add key="dbConnection" value="Data Source=mena-pc;Initial Catalog=WhiteChat_db;User ID=sa;Password=sqladmin"/>
  </appSettings>
</configuration>