#lightbox{
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
	}

#lightbox a img{ border: none; }

#outerImageContainer{
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	}

#imageContainer{
	padding: 10px;
	}

#loading{
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
	}
#hoverNav{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	}
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{
	width: 49%;
	height: 100%;
	background: transparent url(../images/blank.gif) no-repeat; /* Trick IE into showing hover */
	display: block;
	}
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
:hover#prevLink, :visited:hover#prevLink { background: url(../images/prevlabel.gif) left 15% no-repeat; }
:hover#nextLink, :visited:hover#nextLink { background: url(../images/nextlabel.gif) right 15% no-repeat; }


#imageDataContainer{
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	}

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em;	}	
		
#overlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #000;
	}
	

/* Min-Width */
.lbWidth { /* most browsers */
	position: absolute;
	top: 0px; left: 0px;
	width: 100%;
	min-width: 790px;
	}

* html .lbContent { /* IE6 */
	margin-left: -790px;
	position:relative;
	}

* html .lbMinWidth { /* IE6 */
	padding-left: 790px;
	}
	
	
/* Clearfix */	
:after.clearfix {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */ 










/* CSS Document */
img
{
border:0;
}

.sara{

font-family: Thuluth Arabic; color: #FF0000; font-style: oblique; 
               background-image: url('../images/fotter_b4.jpg')
               }

.tittle_kreem
{
	font-family: Arial, Helvetica, sans-serif;
	color: #7A6D5D;
	font-size: 12px;
}


.tittle_wight 
{
	font-family: Tahoma;
	color: #999999;
	font-size: 13 px; 
}

.tittle_blue 
{
	font-family: Tahoma;
	color: #25A0D9;
	font-size: 13 px; font-weight:bold
}

.tittle_black
{
	font-family: Tahoma;
	color: #002F5E;
	font-size: 14px; font-weight:bold
}


.tittle_red
{
	font-family: Tahoma;
	color: #CC0000;
	font-size: 14px; font-weight:bold
}




.content_wight 
{
	font-family: Tahoma;
	color: #FFFFFF;
	font-size: 12;
}

.content_black 
{
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #000000;
	text-align:justify; 
}


.content_wight2
{
	font-family: Tahoma;
	color: #C0C0C0;
	font-size: 12
}





.content_gray
{
	font-family: Tahoma;
	color: #6B6B6B;
	font-size: 12; background-image:url('../images/B_menu_up.jpg');
	height:20px; text-align:justify; letter-spacing:1pt
}


.tittle 
{
	font-family:  Arial;
	color: #A3A5A8;
	font-size: 11px; 
	font-weight:bold; text-decoration:none
}


a:link{
	font-family:  Arial;
	color: #F20346;
	font-size: 11 px; text-decoration:none
}
a:visited{
	font-family:  Arial;
	color: #F20346;
	font-size: 11 px; text-decoration:none
}
a:hover{
	font-family: Arial;
	color: #000000;
	font-size: 11 px; text-decoration:none underline
}




a:link.butt{
	font-family:  Arial;
		color: #88746B;
	font-size: 12px;
	font-weight: bold;
	text-decoration:none; 
	padding-right:20px
}
a:visited.butt{
	font-family:  Arial;
		color: #88746B;
	font-size: 12px;
	font-weight: bold;
	text-decoration:none; 
	padding-right:20px

}
a:hover.butt{
	font-family:  Arial, Helvetica, sans-serif;
	color: #ED174F;
	font-size: 12px;
	font-weight: bold;
	text-decoration:none; 
	padding-right:20px; background-color:#FFFFFF
	}
	
	
	
	
	a:link.menu-left{
	font-family:  Arial, Helvetica, sans-serif;

	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
text-decoration:none;
 
}

a:visited.menu-left{
	font-family:  Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
text-decoration:none; 


}

a:hover.menu-left{
	background-position: 
                 center; font-family:  Arial;
	color: #ED174F;
	font-size: 12px;
	font-weight: bold;
text-decoration:none; background-repeat:no-repeat; background-attachment:fixed;  

	}
	
	
	.prod{

	background-color: #181311;
	
	}
	
	
	
	:link.pro_main, :visited.pro_main
	{
	    color: #000000;
	    font-size:12px;
	    font-weight: bold;
	    text-decoration: none
	     
	}
	
:hover.pro_main
	{
	    font-size:12px;
	    color: #E91652;text-decoration:none
	     
	}
	
	
	
	#testoscroll {
	
	font-family:Arial, Helvetica, sans-serif;
	width:998px;
	font-size: 18px;
	font-style: normal;
	
	color: #000;
	background-color: #FFF;
	word-spacing:5px;
	height: 20px;
	vertical-align: middle;
	opacity:0.6;
	filter:alpha(opacity=60);
	
	clear: right;
	clip: rect(auto,300px,auto,auto);
}