body 
{
     margin: 0;
    padding: 0;
    overflow:hidden;
    background-color:#505050;
    background-repeat: no-repeat;    background-position: center;
    background-attachment: fixed;
}

.maincontent
{
    margin: 0 auto;
    text-align:center;
    clear: both;
    width:980px;
}

.content
{
    text-align:left;
    position:relative;
}
