 @font-face {
        font-family: "Gstwomedium";
        src: url('fonts/ge_ss_two_medium-webfont.eot');
        src: url('fonts/ge_ss_two_medium-webfont?#iefix') format('embedded-opentype'),
        url('fonts/ge_ss_two_medium-webfont.svg#Gstwomedium') format('svg'),
        url('fonts/ge_ss_two_medium-webfont.woff') format('woff'),
        url('fonts/ge_ss_two_medium-webfont.otf') format('opentype'),
        url('fonts/ge_ss_two_medium-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, 
embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, 
time, mark, audio, video {	margin: 0; 	padding: 0;	border: 0;	font-size: 100%; direction:rtl;text-align:right;	font: inherit;	vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body {font-family: Gstwomedium;}
ol, ul { list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table {	border-collapse: collapse; border-spacing: 0; }



.HeaderWrapper {width:1280px;background-image:url('../images/banner_ar.jpg');min-height:300px;margin:0 auto;border-left:5px solid #F7F5F5;border-right:5px solid #F7F5F5;}
.MainContent {margin:0 auto;width:980px;min-height:270px;}
.LangSelector {background-color:#fff;border-bottom-left-radius:5px;-moz-border-bottom-left-radius:5px;-webkit-border-bottom-left-radius:5px;border-bottom-right-radius:5px;-moz-border-bottom-right-radius:5px;-webkit-border-bottom-right-radius:5px;width:60px;height:20px;color:#000;float:right;margin-right:230px;padding:3px;}
.LangSelector a{display:block;width:60px; background:#fff url('../images/uk.png') no-repeat center center;text-decoration:none;color:#000;text-align:left;line-height:1;}

.Headerspacer {height:240px;clear:both;}
/*
.NavigationWrapper {width:1280px;margin:0 auto;margin-top:5px;}
.NavigationWrapper ul{width:920px;margin:0 auto;list-style:none;height:25px;line-height:1;}
.NavigationWrapper ul li {float:right;margin:5px 20px;}
.NavigationWrapper ul li a{color:#000; text-decoration:none;font-weight:bold;font-size:13px;line-height:1;}
.NavigationWrapper ul li a:hover{color:#598503;}
*/

.NavigationWrapper {width:1280px;margin:0 auto;}
.NavigationWrapper ul{width:920px;margin:0 auto;list-style:none;height:25px;}
.NavigationWrapper ul li {float:right;margin:5px 13px;}
.NavigationWrapper ul li a{color:#093014; text-decoration:none;font-weight:bold;font-size:13px;font-family:Trebuchet MS}
.NavigationWrapper ul li a:hover{color:#38A557;}

.ContentWrapper {width:1280px;min-height:100px;margin:0 auto;border-left:5px solid #F7F5F5;border-right:5px solid #F7F5F5;}
.MainContent {width:920px;margin:0px auto;padding-top:10px;}
.Buttons {float:right;width:17%;margin:5px;}
.Buttons a {display:block;margin-bottom:5px;clear:both;}
ul.socials {list-style:none;height:35px;}
ul.socials li{float:right;height:35px;margin:5px;}
ul.socials li.youtube{background:url('../images/youtube.png') no-repeat center center;width:35px;}
ul.socials li.facebook{background:url('../images/facebook.png') no-repeat center center;width:35px;}
ul.socials li a{display:block;text-indent:-9999px;width:35px;height:35px;}
.slider {float:left;width:30%;margin:5px;}
.Content {float:left;padding:5px;width:48%;}

.FooterWrapper {width:1280px;margin:0 auto;background-color:#C8CF6F;clear:both;height:50px;padding-top:5px;border-left:5px solid #F7F5F5;border-right:5px solid #F7F5F5;}

a.dogHand {display:block;padding-right:18px;background: url('../images/doghand.png') no-repeat right center;}
.Clear {clear:both;height:1px;}

h3 {font-size:18px;font-family:Tahoma;font-weight:bold;}