<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="dbConnection" value="Data Source=.;Initial Catalog=E3zemni;User ID=sa;Password=bishops" />
    <!--<add key="dbConnection" value="Data Source=mena-pc;Initial Catalog=E3zemni;User ID=sa;Password=sqladmin" />-->
    <!--<add key="dbConnection" value="Data Source=localhost;Initial Catalog=e3zemni;User ID=e3zemnilogin;Password=e3zemnilogin123"/>-->


  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"></customErrors>
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
