
html, body {
    direction:rtl;    
    margin:0;
    padding:0;
    font-family:'ge_ss_text_medium';
    font-size:14px;
}

h1, h2, h3, h4, h5, h6, h7 { 
    font-family:'ge_ss_text_medium' ;
}

li {
    display:block;
}
@font-face {
    font-family:'cocon';
    /*src: url('../font/cocon-next-arabic-light.eot');*/
    src: url('../font/cocon-next-arabic-light.eot?#iefix') format('embedded-opentype'),
         url('../font/cocon-next-arabic-light.woff') format('woff'),
         url('../font/cocon-next-arabic-light.ttf') format('truetype');
    src:url('../fonts/cocon-next-arabic-light.otf');
    src: url('../font/cocon-next-arabic-light.eot?#iefix') format('embedded-opentype');
    src:url('../fonts/cocon-next-arabic-light.eot');
    src:url('../fonts/cocon-next-arabic-light.svg');
    src:url('../fonts/cocon-next-arabic-light.ttf');
    src:url('../fonts/cocon-next-arabic-light.woff');
}
@font-face {
    font-family:'ge_ss_text_medium';
    /*src: url('../font/ge_ss_text_medium.eot');*/
    src: url('../font/ge_ss_text_medium.eot?#iefix') format('embedded-opentype'),
         url('../font/ge_ss_text_medium.woff') format('woff'),
         url('../font/ge_ss_text_medium.ttf') format('truetype');
    src:url(../fonts/ge_ss_text_medium.eot);
    src: url('../font/ge_ss_text_medium.eot?#iefix') format('embedded-opentype');
    src:url(../fonts/ge_ss_text_medium.svg);
    src:url(../fonts/ge_ss_text_medium.ttf);
    src:url(../fonts/ge_ss_text_medium.woff);
}

@font-face {
    font-family:'ge_ss_two_medium';    
    /* src: url('../font/ge_ss_two_medium.eot');*/
    src: url('../font/ge_ss_two_medium.eot?#iefix') format('embedded-opentype'),
         url('../font/ge_ss_two_medium.woff') format('woff'),
         url('../font/ge_ss_two_medium.ttf') format('truetype');
    src:url(../fonts/ge_ss_two_medium.eot);
    src: url('../font/ge_ss_two_medium.eot?#iefix') format('embedded-opentype');
    src:url(../fonts/ge_ss_two_medium.svg);
    src:url(../fonts/ge_ss_two_medium.ttf);
    src:url(../fonts/ge_ss_two_medium.woff);
}

@font-face {
    font-family:'entypo';    
    src: url('../font/entypo-webfont.eot');
    src: url('../font/entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/entypo-webfont.woff') format('woff'),
         url('../font/entypo-webfont.ttf') format('truetype');
    src:url('../fonts/entypo-webfont.eot');
    src: url('../font/entypo-webfont.eot?#iefix') format('embedded-opentype');
    src:url('../fonts/entypo-webfont.svg');
    src:url('../fonts/entypo-webfont.ttf');
    src:url('../fonts/entypo-webfont.woff');
}


@font-face {
    font-family:'modernpics';    
    /*src: url('../font/modernpics.eot');*/
    src: url('../font/modernpics.eot?#iefix') format('embedded-opentype'),
         url('../font/modernpics.woff') format('woff'),
         url('../font/modernpics.ttf') format('truetype');
    src:url('../fonts/modernpics.eot');
    src: url('../font/modernpics.eot?#iefix') format('embedded-opentype');
    src:url('../fonts/modernpics.svg');
    src:url('../fonts/modernpics.ttf');
    src:url('../fonts/modernpics.woff');
}

@font-face {
    font-family: 'KacstPenMedium';
        src: url('../fonts/KacstPenMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }


/* The following rules are deprecated. */

@font-face {
    font-family: 'KacstPen';
        src: url('../fonts/KacstPenMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

header {
    width:100%;
    background-color:#333333;
    color:#fff;    
    height:85px;
}

footer  {
     width:100%;
    background-color:#333333;
    color:#fff;
    height:55px;
    padding:10px !important;
    font-size:12px !important;    
    direction:ltr;
    text-align:left;   
    font-family:Tahoma;
     font-weight:bold;
     position:absolute;
        }
footer a,  footer a:hover {
    color:#fff !important;
    text-decoration:none;
}
    
.row {
margin:0 !important;
}

.MainContent {
    min-height:300px;
}



.login-menu li a {
    padding:0 !important;    
}

.login-menu .dropdown>a:hover, .login-menu .dropdown>a:focus, .login-menu .dropdown>a{
    background: none !important;
    transition:background-color .5s;
    -moz-transition:background-color .5s;
    -webkit-transition:background-color .5s;
    -ms-transition:background-color .5s;
}

.login-menu .open>a:hover, .login-menu .open>a:focus, .login-menu .open>a{
    background: none !important;
    transition:background-color .5s;
    -moz-transition:background-color .5s;
    -webkit-transition:background-color .5s;
    -ms-transition:background-color .5s;
}
.logout li a {
    display:block;
    margin:5px;
    text-decoration:none;
}

.AccountMenu a {
    color:#fff;
    text-decoration:none;
    margin:3px;
    display:block;
    width:15px;
    text-align:center;
}
.AccountMenu {
    
    max-width:20px;
    float:right;
}

#StatusCount {
    display:block;
    color:#ccc;
    float:left;
    margin-left:8px;
    padding-top:16px;
}

.user {
    padding-top:18px;
    padding-bottom:15px;
    float:right;
    padding-right:21px;
    height:85px;
    position:relative;
}
.user .arrow_menu {
    padding-top: 34px;
    display: inline-block;
    vertical-align: top;
    color:#fff;
}
.user .vl {
    width:1px;
    height:43px;
    margin-top:7px;
    background:#3e3e3e;
    margin-right:15px;
    display: inline-block;
}
.user .user_img {
    width:58px;
    height:58px;
    margin-right: 14px;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    border:1px solid #ccc;
}
.user .user_img img {
    width:56px;
    height:56px;
    margin:auto;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    border:3px solid #2CCE01;
}


.status img {
    width:18px !important;
    height:18px !important;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
}
.login-menu li a.status {
    padding:2px !important;
    padding-right:5px !important;
}


.user p {
    margin-right:11px;
    display: inline-block;
    vertical-align: top;
    padding-top: 18px;
    color:#fff;
}
.user span {
    display:block;
    line-height:9px;
    margin-top:-8px;
    width:180px;
}

.user .statusbox {    
    position:absolute;    
    right:140px;
    width:300px;
    background-color:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    height:32px;
    margin-top:3px;
     -webkit-transition: width 1s ease;  
    -moz-transition: width 1s ease;  
    -o-transition: width 1s ease;  
    -ms-transition: width 1s ease;  
    transition: width 1s ease; 
    }
.user .statusbox input[type="text"] {
    height:29px;
    font-size:13px;    
    border:0px !important;
    width:260px;
    color:#555;
    -webkit-transition: width 1s ease;  
    -moz-transition: width 1s ease;  
    -o-transition: width 1s ease;  
    -ms-transition: width 1s ease;  
    transition: width 1s ease;  
    }
    .user .statusbox input[type="text"]:focus {
        border:0 !important;
    }

.user .statusbox input[type="text"]:hover {
    width: 340px; 
    }
.user .statusbox:hover {
    width:380px; 
    }

.input-ok {
    position:absolute;
    top:3px;
    left:5px;
    text-decoration:none !important;
    cursor:pointer;
}

.input-cancel {
    position:absolute;
    top:3px;
    left:20px;
    text-decoration:none !important;
    cursor:pointer;
}
.logo {
    width:20%;
    float:left;
    padding:20px;
    border-right:2px solid #fff;
    margin:20px 0px;    
}

#help {
float: left;
margin-left: 6%;
}
.help div:hover{
    background: #010101;
    transition:background-color .5s;
    -moz-transition:background-color .5s;
    -webkit-transition:background-color .5s;
    -ms-transition:background-color .5s;
}
.help div {
    cursor: pointer;
    float:left;    
    height:40px;
    background-color:#1a1a1a;
    margin-top:25px;
    margin-bottom: 10px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -ms-border-radius:4px;
    border-bottom:1px solid #404040;
    padding-top:9px;
    padding-bottom:10px;
    padding-right:10px;
    padding-left:10px;
    margin-right:10px;
    position:relative;
    
}

.help div a .badge {
    background-color:#f00;
    display:inline-block;
    top:-10px;    
    position:absolute;
    left:-5px;
    font-weight:normal;
    font-size:14px;
    
}

.help div.pageName {
    cursor: auto;
    float:left;
    font-size:25px;    
    height:40px;
    background:none;
    margin-top:20px;
    margin-bottom: 10px;
    border-radius:0px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -ms-border-radius:4px;
    border-bottom:0px solid #404040;
    padding-top:9px;
    padding-bottom:10px;
    padding-right:5px;
    padding-left:4px;
    margin-right:5px;
}
.help div.pageName:hover{
    background: none;    
}

.help div i {
    float:right;
}
.help div a {
    font-size:16px;
    line-height:14px;
    color:white;
    display:block;
    float:right;    
    padding-right:8px;
    text-decoration:none;
    padding-top:5px;
}

.help>a{
    display: block;
    float: left;
    margin-top: 10px;    
    margin-bottom:10px;
    padding-right:25px;
}



.main_menu {
    width:4.3%;    
    background:#2e2e2e;
    margin-top:1%;
    /*left:86.8%;*/
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;        
    box-shadow: 0 0 2px 1px #ababab;    
    float:right;
    direction:ltr;
    min-height:440px;
    margin-right:.2%;
    position:fixed;
    z-index:999;
}
.main_menu ul {
    width:100%;
}
.menu_clicked {
    width:124px;
    color:white;
    text-decoration:none;
}
.main_menu ul li {
    height:88px;
    display:block;
    padding-top:15px;
    transition:background-color .5s ease;
    -moz-transition:background-color .5s ease;
    -webkit-transition:background-color .5s ease;
    -ms-transition:background-color .5s ease;
    text-align:center;
    width:100%;
    position:relative;
}
.main_menu ul li i{
    padding-top:10px !important;
     display:inline-block;
     color:#fff;
     width:100%;
    text-align:center;

}

.main_menu ul li:hover {
    background-color:#FEC200;        
}

.main_menu ul li.selected {
    background-color:#FEC200;        
}

.main_menu ul hr {
    height:1px;
    display:block;
    color:#585858;
    width:50%;
    margin:0 auto;
    opacity:0.4;
    display: none;
}
.main_menu ul li:hover hr {
    display:none;
}
.main_menu ul li:hover a {
    display:block;    
}

.main_menu ul li:hover {
    display:block;    
    cursor:pointer;
}
.main_menu.open ul li a {
    transition: opacity .5s;
    -webkit-transition: opacity .5s;

}
.main_menu.open ul li:hover a {
    color: #fff;
}

.main_menu.open ui li a {
    color: #a1a1a1;
}

.main_menu.open ul li.selected a {
    color: #fff;
}
.main_menu ul li a {
    text-align:center;
    padding-top:30px;
    opacity: 0;
    text-decoration:none;
    font-size:20px;    
    line-height:14px;    
    color: #a1a1a1;
    display: block;
    height:88px;
    position:absolute;
    width:100%;
    margin:0 auto;
    top:0;
    text-align:center;
}

.main_menu ul li img {
    padding-top:29px;
    margin:0 auto;
    display:block;
}


.inner_main {
    width:95%;
    padding-bottom:10px;
    float:right;
    border:none;
    background: #f4f4f4;
    border: 1px solid #b7b7b7;
    border-radius: 5px 0 0 5px;
    z-index:1;    
    margin-top:.5%;
    min-height:490px;
    margin-bottom:10px;
    margin-left:.3%;
    margin-right:4.5%;
}

.HomeInner {
    width:100%;
    padding-bottom:25px;
    float:left;
    border:none;
    background: #E5E5E5;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    z-index:1;    
    margin-top:1%;
    min-height:610px;
    margin-bottom:10px;
}

.blockBoxshadow {
    border:1px solid #E5E5E5;
    background: #fff;    
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    box-shadow:0px 5px 3px #ccc;
    padding:10px;
}

.blockBoxshadow .title {
    font-size:20px;
    }

.blockBox {
   /* border:1px solid #E5E5E5;
    background: #fff;    
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    box-shadow:0px 5px 3px #ccc;*/
    padding:10px;    
}

.blockBoxBlack {
    border:1px solid #333333;
    background: #333333;    
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;    
    padding:20px;
    color:#fff;
    width:350px;
    padding-bottom:0px;    
}

.blockBoxBlack a {
    color:#fff !important;
    text-decoration:none;
    font-size:13px;
    }

.form-group {
    margin-bottom:3px !important;
}
.form-group input[type="text"], .form-group textarea,.form-group input[type="password"],.form-group input[type="file"],.form-group select{
    margin-bottom:3px !important;   
    border:1px solid #F6D355; 
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;
}
.form-group input[type="file"] {
    font-size:12px !important;
    padding:2px;
    }

.form-control {
    padding:3px 10px !important;
}



.customtxtarea {
  display: block;
  width: 100%;
  padding: 0px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
 
}

.customtxtarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}



.blockBoxBlack .form-group input[type="text"],.blockBoxBlack .form-group input[type="password"]{
    margin-bottom:5px !important;   
    border:1px solid #666666; 
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;
    background-color:#666666;
    color:#fff;
}

.AcceptedAgreement input {
    float:right;
    border:1px solid #F6D355 !important; 
    border-radius:5px !important;
    -moz-border-radius:5px !important;
    -webkit-border-radius:5px !important;
    -ms-border-radius:5px !important;    
}
.AcceptedAgreement label {
    float:right;
    width:80%;
    padding-right:10px;
}
.margin20 {
    margin:10px 10px 5px 10px;
}

.btn-group .btn {
    z-index:100 !important;
}
.profileImageEdit {
    position:relative;
}
#EditProfilePic a {
    cursor:pointer;
}

#EditProfilePic {
    display:none;
    position:absolute;
    bottom:10px;  
    right:15px;  
}

.profileImageEdit:hover #EditProfilePic {
    display:block;
}
.remember input {
    float:right;
    border:1px solid #F6D355 !important; 
    border-radius:5px !important;
    -moz-border-radius:5px !important;
    -webkit-border-radius:5px !important;
    -ms-border-radius:5px !important;    
}
.remember label {
    float:right;
    font-size:12px;
    margin:4px 0 0 ;
}
.remember label:before {
    content:"\00a0";
    
}
.remember {
    padding-left:10px;
}

.header {
    background:url(../images/home/Back.jpg) no-repeat;    
    background-size:100%;
    min-height:442px;
    width:100%;
    margin:0 auto;
}
.content {
    width:1280px;
    margin:0 auto !important;
}

hr {
    background:#dededf;
    height:1px;
    margin-right:20px;
    width:840px;
    border:none;
}

.Altodd {background-color:#CCCCCC !important;padding:5px !important;}
.Alteven {background-color:#D9D9D9 !important;padding:5px !important;}


#onlinepeople .Altodd a{
    padding-bottom:1px !important;
    font: bold 12px Arial;
}
#onlinepeople .Alteven a{
    padding-bottom:1px !important;
    font: bold 12px Arial;
}
#offlinepeople .Altodd a{
    padding-bottom:1px !important;
    font: bold 12px Arial;
}
#offlinepeople .Alteven a{
    padding-bottom:1px !important;
    font: bold 12px Arial;
}
#helpcontact a {
    color:#f00 !important;
    
}
.friendpic {
    width:28px;
    height:28px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%; 
    float:right;
    margin:5px;    
    margin-top:-2px;
}

img.online {
    border:3px solid #2CCE01 !important;
}
img.busy {
    border:3px solid #f00 !important;
}
img.away {
    border:3px solid #EAB904 !important;
}
img.offline {
    border:3px solid #404040 !important;
}

.type_1 {
    color:#000 !important;
}
.type_2 {
    color:#ff00fe !important;
}
.type_3 {
    color:#880088 !important;
}
.type_4 {
    color:#f6fc3f !important;
}



/**** entypo icons ******/
.entypoicon {
    font-family:'entypo' !important;
    font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none !important;
  background-position: 0% 0%;
  background-repeat: repeat;    
}

@-moz-document url-prefix() {
    .entypoicon {
        margin-top:-20px;
    }
}


.modernicon {
    font-family:'modernpics' !important;
    font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none !important;
  background-position: 0% 0%;
  background-repeat: repeat;  
}

.iconentypo-cp:before { content:'\006b';}
.iconentypo-profile:before { content :'\002b';}
.iconentypo-chats:before { content :'\0039';}
.iconentypo-help:before { content :'\0062';}
.iconentypo-menu:before { content :'\0069';}
.iconentypo-phone:before { content :'\0021';}
.iconentypo-bell:before { content :'\003d';}
.iconentypo-addfriend:before { content :'\002d';}

.iconentypo-inbox:before { content: '\002a';}
.iconentypo-sent:before { content: '\0029';}
.iconentypo-deleted:before { content: '\0075';}
.iconentypo-newmsg:before { content: '\0033';}
.iconentypo-newfolder:before { content: '\006a';}

.iconmodern-createroom:before { content :'\0070';}
.iconmodern-credit:before { content :'\0024';}
.iconmodern-friends:before { content: '\0067';}
.iconmodern-mainlist:before { content: '\0035';}

.iconmodern-balance:before { content :'\0023';}
.iconmodern-statement:before { content :'\0034';}
.iconmodern-acctype:before { content: '\0072';}
.iconmodern-roomtype:before { content: '\0065';}
.iconmodern-premium:before { content: '\004a';}

.btn-main {
  color: #000;
  background-color: #FEC200;
  border-color: #F0B803;
}

.btn-main:hover,
.btn-main:focus,
.btn-main:active,
.btn-main.active,
.open .dropdown-toggle.btn-main {
  color: #ffffff;
  background-color: #F0B803;
  border-color: #DBA802;
}

.btn-main:active,
.btn-main.active,
.open .dropdown-toggle.btn-main {
  background-image: none;
}

.btn-main.disabled,
.btn-main[disabled],
fieldset[disabled] .btn-main,
.btn-main.disabled:hover,
.btn-main[disabled]:hover,
fieldset[disabled] .btn-main:hover,
.btn-main.disabled:focus,
.btn-main[disabled]:focus,
fieldset[disabled] .btn-main:focus,
.btn-main.disabled:active,
.btn-main[disabled]:active,
fieldset[disabled] .btn-main:active,
.btn-main.disabled.active,
.btn-main[disabled].active,
fieldset[disabled] .btn-main.active {
  background-color: #D7B33D;
  border-color: #BF9E34;
}

.btn-primary .badge {
  color: #428bca;
  background-color: #fff;
}

.checkbox-main {
    padding-top:0 !important;    
}
.checkbox-main label {
    margin-right:10px;
    font-weight:normal;
    font-size:14px;
    }
.radio-inlineMain label {
    margin-right:10px;
    font-weight:normal;
    font-size:14px;}
.radio-inlineMain input[type="radio"] {
  float: right;
  margin-right: 5px;
}


.radio-inlineMain{
  display: inline-block;
  padding-right: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}

.singleuser, .jslink {
    cursor:pointer;    
}

.singleuser i {
    transition: all 0.7s ease-in-out 0s;
    -webkit-transition: all 0.7s ease-in-out 0s;
    -o-transition: all 0.7s ease-in-out 0s;
    display:inline-block !important;
}
.singleuser:hover i {
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    opacity:0.2;
}

.headerRow {
    font-size:13px;
    text-align:right;
    padding:0px !important;
    border-bottom: 2px solid #FEC200;
    height:20px;
    color:#000;
}
.ContentRow {
    font-size:13px;
    text-align:right;
    padding:5px 0px !important;
    border-bottom: 2px solid #FEC200;
    height:25px;
    color:#000;
}

.center {
    text-align:center;
}


.adminsTable {
    width:90%;
    margin:10px;    
}

.adminsTable th{
    color:#000;
    text-align:center;
    background-color:#FEC200;
    height:25px;
    vertical-align:middle;
}

.adminsTable td{    
    text-align:center;    
    vertical-align:middle;
    height:25px;
}

.adminsTable td a {
    text-decoration:none;
        }

/* modal */
.modal-header {
    padding-top:5px !important;
    padding-bottom:3px !important;
}
.modal-body {
    padding-top:5px !important;
    padding-bottom:3px !important;
}
.modal-footer {
    margin-top:3px !important;
    padding-bottom:8px !important;
    padding-top:8px !important;
}

#homeNav .nav {
    margin-top:-10px !important;
}

#homeNav .nav-tabs > li .close {
			    margin: -2px 10px 0 0px;
			    font-size: 18px;
                float:left !important;
			}

#homeNav .nav > li > a {
    padding:2px 12px !important;
    border-radius:10px !important;
    -moz-border-radius:10px !important;
    -webkit-border-radius:10px !important;
    -ms-border-radius:10px !important;
    
}

#homeNav .nav-tabs {
    border-bottom:0px !important;
}

#homeNav .nav-tabs > li.active > a,#homeNav .nav-tabs > li.active > a:hover,#homeNav .nav-tabs > li.active > a:focus {
    border:2px solid #fff !important;
    background-color:#ddd;
    color:#000;
}

#homeNav .nav-tabs > li > a,#homeNav .nav-tabs > li > a:hover,#homeNav .nav-tabs > li > a:focus {
    border:2px solid #ddd !important;
    background-color:#fff;
    color:#000;
}

.cameraHolder{
    float:left;
    width:28px;
    height:16px;
    margin-right:2px;
}

.MicHandHolder, .MarkHolder{
    float:left;
    width:18px;
    height:16px;
    margin-right:2px;
}

.GiftHolder {
    float:right;
    width:18px;
    height:16px;
    margin-left:2px;
}

.camera, .hand, .mic , .mark{
    display:none;
    float:left;
     width:16px;
    height:16px;
}

.RoomAdminMenu {
width:230px;
}

/* auto complete */
.ui-autocomplete {
    z-index:2000;
}

/* wysiwyg */
/*font size*/
.wysiwyg-font-size-large {
  font-size: large;
}
.wysiwyg-font-size-small {
  font-size: small;
}
.wysiwyg-font-size-xlarge {
  font-size: x-large;
}
.wysiwyg-font-size-xsmall {
  font-size: x-small;
}
.wysiwyg-font-size-medium {
  font-size: medium;
}

/* font colors*/
/*
.wysiwyg-color-Yellow {
  color: yellow ;    
}
.wysiwyg-color-green {
  color: green;
}
.wysiwyg-color-blue {
  color: blue;
}
.wysiwyg-color-black {
  color: Black;
}
.wysiwyg-color-Burntorange {
  color: #993300;
}
.wysiwyg-color-Darkolive {
  color: #333300;
}
.wysiwyg-color-Darkgreen {
  color: #003300;
}
.wysiwyg-color-Darkazure {
  color: #003366;
}
.wysiwyg-color-NavyBlue {
  color: #000080;
}
.wysiwyg-color-Indigo {
  color: #333399;
}
.wysiwyg-color-Verydarkgray {
  color: #333333;
}
.wysiwyg-color-Maroon {
  color: #800000;
}
.wysiwyg-color-Orange {
  color: #FF6600;
}
.wysiwyg-color-Olive {
  color: #808000;
}
.wysiwyg-color-Green {
  color: #008000;
}
.wysiwyg-color-Teal {
  color: #008080;
}
.wysiwyg-color-Blue {
  color: #0000FF;
}
.wysiwyg-color-Grayishblue {
  color: #666699;
}
.wysiwyg-color-Gray {
  color: #808080;  
}
.wysiwyg-color-Amber {
  color: #FF9900;
}
.wysiwyg-color-Yellowgreen {
  color: #99CC00;
}
.wysiwyg-color-Seagreen {
  color: #339966;  
}

.wysiwyg-color-Turquoise {
  color: #33CCCC;  
}
.wysiwyg-color-Royalblue {
  color: #3366FF;
}
.wysiwyg-color-Purple {
  color: #800080;
}
.wysiwyg-color-Mediumgray {
  color: #999999;  
}
.wysiwyg-color-Magenta {
  color: #FF00FF;  
}
.wysiwyg-color-Gold {
  color: #FFCC00;
}
.wysiwyg-color-Yellow {
  color: #FFFF00;
}
.wysiwyg-color-Lime {
  color: #00FF00;  
}
.wysiwyg-color-Aqua {
  color: #00FFFF;  
}
.wysiwyg-color-Skyblue {
  color: #00CCFF;
}
.wysiwyg-color-Brown {
  color: #993366;
}
.wysiwyg-color-Silver {
  color: #C0C0C0;  
}

.wysiwyg-color-Pink {
  color: #FF99CC;  
}
.wysiwyg-color-Peach {
  color: #FFCC99;
}
.wysiwyg-color-Lightyellow {
  color: #FFFF99;
}
.wysiwyg-color-Palegreen {
  color: #CCFFCC;  
}
.wysiwyg-color-Palecyan {
  color: #CCFFFF;  
}
.wysiwyg-color-Lightskyblue {
  color: #99CCFF;
}
.wysiwyg-color-Plum {
  color: #CC99FF;
}
.wysiwyg-color-White {
  color: #FFFFFF;  
}
*/
.wysiwyg-color-IndianRed {
    color: IndianRed;
}

.wysiwyg-color-LightCoral {
    color: LightCoral;
}

.wysiwyg-color-Salmon {
    color: Salmon;
}

.wysiwyg-color-DarkSalmon {
    color: DarkSalmon;
}

.wysiwyg-color-LightSalmon {
    color: LightSalmon;
}

.wysiwyg-color-Crimson {
    color: Crimson;
}

.wysiwyg-color-Red {
    color: Red;
}

.wysiwyg-color-FireBrick {
    color: FireBrick;
}

.wysiwyg-color-DarkRed {
    color: DarkRed;
}

.wysiwyg-color-HotPink {
    color: HotPink;
}

.wysiwyg-color-DeepPink {
    color: DeepPink;
}

.wysiwyg-color-MediumVioletRed {
    color: MediumVioletRed;
}

.wysiwyg-color-PaleVioletRed {
    color: PaleVioletRed;
}

.wysiwyg-color-LightSalmon {
    color: LightSalmon;
}

.wysiwyg-color-Coral {
    color: Coral;
}

.wysiwyg-color-Tomato {
    color: Tomato;
}

.wysiwyg-color-OrangeRed {
    color: OrangeRed;
}

.wysiwyg-color-DarkOrange {
    color: DarkOrange;
}

.wysiwyg-color-Orange {
    color: Orange;
}

.wysiwyg-color-Yellow {
    color: Yellow;
}

.wysiwyg-color-DarkKhaki {
    color: DarkKhaki;
}

.wysiwyg-color-Orchid {
    color: Orchid;
}

.wysiwyg-color-Fuchsia {
    color: Fuchsia;
}

.wysiwyg-color-Magenta {
    color: Magenta;
}

.wysiwyg-color-MediumOrchid {
    color: MediumOrchid;
}

.wysiwyg-color-MediumPurple {
    color: MediumPurple;
}

.wysiwyg-color-BlueViolet {
    color: BlueViolet;
}

.wysiwyg-color-DarkViolet {
    color: DarkViolet;
}

.wysiwyg-color-DarkOrchid {
    color: DarkOrchid;
}

.wysiwyg-color-DarkMagenta {
    color: DarkMagenta;
}

.wysiwyg-color-Purple {
    color: Purple;
}

.wysiwyg-color-Indigo {
    color: Indigo;
}

.wysiwyg-color-SlateBlue {
    color: SlateBlue;
}

.wysiwyg-color-DarkSlateBlue {
    color: DarkSlateBlue;
}

.wysiwyg-color-MediumSlateBlue {
    color: MediumSlateBlue;
}

.wysiwyg-color-GreenYellow {
    color: GreenYellow;
}

.wysiwyg-color-Chartreuse {
    color: Chartreuse;
}

.wysiwyg-color-MediumSeaGreen {
    color: MediumSeaGreen;
}

.wysiwyg-color-SeaGreen {
    color: SeaGreen;
}

.wysiwyg-color-ForestGreen {
    color: ForestGreen;
}

.wysiwyg-color-Green {
    color: Green;
}

.wysiwyg-color-DarkGreen {
    color: DarkGreen;
}

.wysiwyg-color-OliveDrab {
    color: OliveDrab;
}

.wysiwyg-color-Olive {
    color: Olive;
}

.wysiwyg-color-DarkOliveGreen {
    color: DarkOliveGreen;
}

.wysiwyg-color-LightSeaGreen {
    color: LightSeaGreen;
}

.wysiwyg-color-DarkCyan {
    color: DarkCyan;
}

.wysiwyg-color-Teal {
    color: Teal;
}

.wysiwyg-color-Aqua {
    color: Aqua;
}

.wysiwyg-color-Cyan {
    color: Cyan;
}

.wysiwyg-color-LightCyan {
    color: LightCyan;
}

.wysiwyg-color-CadetBlue {
    color: CadetBlue;
}

.wysiwyg-color-SteelBlue {
    color: SteelBlue;
}

.wysiwyg-color-DodgerBlue {
    color: DodgerBlue;
}

.wysiwyg-color-CornflowerBlue {
    color: CornflowerBlue;
}

.wysiwyg-color-MediumSlateBlue {
    color: MediumSlateBlue;
}

.wysiwyg-color-RoyalBlue {
    color: RoyalBlue;
}

.wysiwyg-color-Blue {
    color: Blue;
}

.wysiwyg-color-MediumBlue {
    color: MediumBlue;
}

.wysiwyg-color-DarkBlue {
    color: DarkBlue;
}

.wysiwyg-color-Navy {
    color: Navy;
}

.wysiwyg-color-MidnightBlue {
    color: MidnightBlue;
}

.wysiwyg-color-RosyBrown {
    color: RosyBrown;
}

.wysiwyg-color-SandyBrown {
    color: SandyBrown;
}

.wysiwyg-color-Goldenrod {
    color: Goldenrod;
}

.wysiwyg-color-DarkGoldenrod {
    color: DarkGoldenrod;
}

.wysiwyg-color-Peru {
    color: Peru;
}

.wysiwyg-color-Chocolate {
    color: Chocolate;
}

.wysiwyg-color-SaddleBrown {
    color: SaddleBrown;
}

.wysiwyg-color-Sienna {
    color: Sienna;
}

.wysiwyg-color-Brown {
    color: Brown;
}

.wysiwyg-color-Maroon {
    color: Maroon;
}

.wysiwyg-color-White {
    color: White;
}

.wysiwyg-color-Gray {
    color: Gray;
}

.wysiwyg-color-DimGray {
    color: DimGray;
}

.wysiwyg-color-LightSlateGray {
    color: LightSlateGray;
}

.wysiwyg-color-SlateGray {
    color: SlateGray;
}

.wysiwyg-color-DarkSlateGray {
    color: DarkSlateGray;
}

.wysiwyg-color-Black {
    color: Black;
}

.colorDiv {
    height:15px;
    width:15px;
    padding:0px;margin:3px;
    border:1px solid black;
}
#colorsMenu  > li > a {
    padding:2px !important;
}

#colorsMenu > li.divider {
    background-color:transparent !important;
}
#colorsMenu > li > a:hover {
    background-color:transparent !important;
}

.itemColor {
    float:right;
    height:15px;
    width:15px;
    padding:0px;margin:3px;
}

.GoldRate {
    color:#fcd144;
}

#smilesMenu > li > a {
    padding:2px !important;
}


#smilesMenu > li.divider {
    background-color:transparent !important;
}
#smilesMenu > li > a:hover {
    background-color:transparent !important;
}
.itemImage {
    width:auto;
    height:auto;
    float:right;
    margin:1px;
}

.MsgHeader th {
    text-align:center !important;
}

.awesome {
	font-family: 'FontAwesome';
	vertical-align: middle;
}

.friend-link {
    position:relative;
    cursor:pointer;
}

.friend-link .popup-menu {	
	display: none;	
    list-style:none;
}

.friend-link .controls {
    width:72px;
    }
.friend-link a.memberlink {
    margin-left:5px;
    text-align:left;
    height:16px;
    display:block;
    text-decoration:none;
    /*font-family:Tahoma !important;
    font-size:9px;*/
    font-family:Arial !important;
    font-size:12px;
    font-weight:bold;
    }

.profileMenu li {
    text-align:right;
}

.profileMenu {
    width:450px;
    background-color:#000;
    padding:10px;
    border-bottom:5px solid #FEC200;
    color:#fff;    
}
.profileMenu a {
    color:#fff !important;
    text-align:right;
    }

.msgHolder img{
    margin-top:-10px;
}
/*
.friend-link .popup-menu a {
	display: block;
	line-height: 20px;
	background-color: #333;
	color: #999;
	padding: 0 10px;
}
.g-dark-list > li {
    border-bottom:1px solid #262626;
    border-top:1px solid #404040;
}

.friend-link .popup-menu a:hover {
	background-color: #999999;
}
*//*
.friend-link:hover .popup-menu {
	display: block;
}*/

  .popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 480px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #000;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.popover.left > .arrow:after {
    border-left-color:#000;
    }
.popover.top > .arrow {
    border-top-color:#000;
    }
.popover.top > .arrow:after {
    display:none;
    }

.popover-title {
    padding:5px;
    background-color:#000;
    border:0px;
    color:#fff;
}

.closepopover {
    opacity:.8;
}

.closepopover:hover , .closepopover:focus  {
    opacity:1;
}

/**/

.g-dark {
    color: #999;
}

.g-dark-bg {
    background-color: #333;
}

.g-dark a, .g-dark .sc-type-light {
    color: #ccc;
    text-shadow: 0 1px 0 #000;
}

    .g-dark a:hover, .g-dark a:focus {
        color: #f2f2f2;
    }

.g-dark h1, .g-dark .sc-type-h1, .g-dark h2, .g-dark .sc-type-h2, .g-dark h3, .g-dark .sc-type-h3 {
    color: #999;
}

.g-dark-list {
    background-color: #333;
    border: 1px solid #404040;
    border-width: 0 1px;
}

    .g-dark-list:empty {
        border-bottom-width: 0;
    }

    .g-dark-list > li {
        border-bottom: 1px solid #262626;
        border-top: 1px solid #404040;
    }

.g-dark-list > li > a, .g-dark-selected {
    display: block;
    position: relative;
    padding: 8px 10px;
}

    .g-dark-list > li > a:hover, .g-dark-list > li > a:focus, .g-dark-selected {
        outline: 0;
        color: #fff;
        background: #262626;
        border-top: 1px solid #262626;
        margin-top: -1px;
    }

li.g-dark-selected {
    border-top: 1px solid #262626;
    margin-top: 0;
}

.g-dark-list > li > a:hover:before, .g-dark-list > li > a:focus:before, .g-dark-selected:before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    bottom: -1px;
    width: 3px;
    background: #f50;
    background: -webkit-linear-gradient(#f70,#f30);
    background: linear-gradient(#f70,#f30);
}


.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 20px;
    position: relative;
}
.rating-input 
{
    font-family:FontAwesome;
    /*float: right;
    width: 16px !important;
    height: 16px !important;*/
    padding: 0;
    /*margin: 0 0 0 -16px;*/
    opacity: 0;
    display:none;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    color:#f70;
    /*background-position: 0 0;*/
}
.rating-star,
.rating:hover .rating-star 
{
    font-family:FontAwesome;
    position: relative;
    float: left;
    display: block;
    width:20px;    
    Color: #aaaaaa;
    cursor:pointer;
    /*background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;*/
}


/**/
.un-read
{
    font-weight:bold;    
}

.un-readRow {
    background-color:#ccc;
}

#msgmain .badge {
    background-color:#f00 !important;
}


.flashmovie {
    -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
    transition: height 1s;
}

.adminPart {
    -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
    transition: height 1s;
}

.bordered {
    border:1px solid #bbb;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;
}


/* gifts */

.gifts, .giftMembers {
    list-style:none;
}
.giftMembers {
    width:100%;
}
.gifts li , .giftMembers li {
    float:right;    
    margin:5px;
    }

.giftMembers li {
    width:150px;
}
.gifts li label {
    display:block;
    width:90px;
    height:110px;
    border: 1px solid #ccc;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;
    text-align:center;
    cursor:pointer;
    padding:5px;
    }

.gifts li label:hover {
    background-color: #efefef;
}
.gifts li label img {
    max-width:50px;
    max-height:50px;
    margin:0 auto;
    }
.gifts li label span {
    text-align:center;
    }

.gifts li label span.giftname {
    text-align:center;
    font-size:70%;
    }

.gifts li label span.giftprice {
    text-align:center;
    font-size:70%;
    }

.gifts .input_hidden {
    position: absolute;
    width:0px;
    height:0px;
    z-index:-1;
}

.gifts label.selected {
    background-color: #ccc;
}

.giftmsg {
    font-weight:bold;
    color:#9E0399;
}

/* profile pics */
.ProfilePics li {
    float:right;    
    margin:5px;
    }

.ProfilePics li label {
    display:block;
    width:110px;
    height:110px;
    border: 1px solid #ccc;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;
    text-align:center;
    cursor:pointer;
    padding:5px;
    }

.ProfilePics li label:hover {
    background-color: #efefef;
}
.ProfilePics li label img {
    max-width:100px;
    max-height:100px;
    margin:auto;
    }


.ProfilePics .input_hidden {
    position: absolute;
    width:0px;
    height:0px;
    z-index:-1;
}

.ProfilePics label.selected {
    background-color: #ccc;
}

.joinalert {
    /*color:#4E2B4C;*/
    color:#9E0399;
}
.leftalert {
    color:#000;
}
.banalert
{
    color:red;
}
.welcomeText
{
    color:#0aa40d;
}

.MessageTime {
    font-family:'Times New Roman';
    font-size:9px;
    direction:rtl;    
}

.adminrole {
    color:red;
    font-weight:bold;
    font-size:12px;
    padding-right:10px;
}

.adminrole_reviewer {
    color:darkgreen;
    font-weight:bold;
    font-size:12px;
    padding-right:10px;
}

input[type="text"], textarea {
    resize:none;
}

.msgbody {
    max-width:73%;
    width:73%;
    line-height:normal;
    word-wrap: break-word;
    -ms-word-break: break-all;
     word-break: break-all;    
     display:block;      
     text-align:left;
}
.msgbody span {
    word-wrap: break-word;
    -ms-word-break: break-all;
     word-break: break-all;          
     display:block;
    }

.SendMsg {
    text-decoration:underline !important;
    font-weight:bold;
    color:blue !important;
}

.callout {
    position: relative;
    margin: 0;
    padding: 5px 5px;
    background-color: #eef4f9;
    /* easy rounded corners for modern browsers */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.callout .notch {
    position: absolute;
    top: 10px;
    left: -7px;
    margin: 0;
    border-top: 7px solid transparent;
    border-left: 0;
    border-right: 7px solid #eef4f9;
    border-bottom: 7px solid transparent;
    padding: 0;
    width: 0;
    height: 0;
    /* ie6 height fix */
    font-size: 0;
    line-height: 0;
     /* ie6 transparent fix */
    _border-right-color: pink;
    _border-left-color: pink;
    _filter: chroma(color=pink);
}
.border-callout { border: 1px solid #c5d9e8; padding: 10px 19px; }
.border-callout .border-notch { border-right-color: #c5d9e8;left: -8px;}

.RoomAlertRed {
    background-color:#FEC200 !important;
}


.callout.msgFromMe {
    position: relative;
    margin: 0;
    padding: 5px 5px;
    background-color: #f5d974;
    /* easy rounded corners for modern browsers */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.callout .notch.msgFromMe {
    position: absolute;
    top: 10px;
    left: -7px;
    margin: 0;
    border-top: 7px solid transparent;
    border-left: 0;
    border-right: 7px solid #f5d974;
    border-bottom: 7px solid transparent;
    padding: 0;
    width: 0;
    height: 0;
    /* ie6 height fix */
    font-size: 0;
    line-height: 0;
     /* ie6 transparent fix */
    _border-right-color: pink;
    _border-left-color: pink;
    _filter: chroma(color=pink);
}
.border-callout.msgFromMe { border: 1px solid #fbc914; padding: 10px 19px; }
.border-callout.msgFromMe .border-notch.msgFromMe { border-right-color: #fbc914;left: -8px;}



.findFriends {
    list-style:none;
    width:100%;
}

.findFriends li{
    float:left;
    width:32.5%;
    margin:2px;
    padding:5px;
    font-size:13px; !important;
}

.smallbtn {
    padding:3px 6px !important;
    font-size:12px !important;
}
.popup_bg {
     background: #f4f4f4;
    border: 1px solid #b7b7b7;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;
    padding:5px;
  
}
.botholder {
    padding:5px;
}

.botIcon img {
    max-width:40px;
}

.botIcon .botInfo
{
    display:none;
    width:150px;
}

  .mailbtn {
        font-size: 14px;        
        margin:0px 5px        
    }

  /*Wizard CSS*/
  .hiddenStepInfo {
    display: none;
}

.activeStepInfo {
    display: block !important;
}

.underline {
    text-decoration: underline;
}

.step {
    margin-top: 27px;
}

.step {
    text-align: center;
}

.step .col-md-6 {
    background-color: #fff;
    border: 1px solid #C0C0C0;
    border-right: none;
}

.step .col-md-6:last-child {
    border: 1px solid #C0C0C0;
}

.step .col-md-6:first-child {
    border-radius: 5px 0 0 5px;
}

.step .col-md-6:last-child {
    border-radius: 0 5px 5px 0;
}

.step .col-md-6:hover {
    color: #F58723;
    cursor: pointer;
}

.step .activestep {
    /*color: #F58723;*/
   /* border-left: 6px solid #5CB85C !important;
    border-right: 6px solid #5CB85C !important;
    border-top: 3px solid #5CB85C !important;
    border-bottom: 3px solid #5CB85C !important;*/
   background-color:#FEC200 !important;
    vertical-align: central;
}

.step .fa {
    padding-top: 15px;
    font-size: 20px;
}
/*Bot*/
.white {
    color: white;
}

.btn-lg {
    font-size: 38px;
    line-height: 1.33;
    border-radius: 6px;
}

.box > .icon {
    text-align: center;
    position: relative;
}

.box > .icon > .image {
    position: relative;
    z-index: 2;
    margin: auto;
    padding:5px;   
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;
    line-height: 70px;
    border-radius: 50%;    
    vertical-align: middle;
}

.box > .icon:hover > .image {
    border: 2px solid black;
}

.box > .icon > .image > i {
    font-size: 40px !important;
    color: #fff !important;
}

.box > .icon:hover > .image > i {
    color: white !important;
}

.box > .icon > .info {
    margin-top: -24px;
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid #e0e0e0;
    padding: 15px 0 10px 0;
}

    .box > .icon > .info > h3.title {
        color: #222;
        font-weight: 500;
    }

    .box > .icon > .info > p {
        color: #666;
        line-height: 1.5em;
        margin: 20px;
    }

.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a {
    color: #222;
}

.box > .icon > .info > .more a {
    color: #222;
    line-height: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.box > .icon:hover > .info > .more > a {
    color: #000;
    padding: 6px 8px;
    border-bottom: 4px solid black;
}

.box .space {
    height: 10px;
}

.roomFriendsBtn
{
    background-image:url(../images/bots/RoomFriends_1.png);
}

.listInRoom {
    text-align:right;
    color:inherit;
}


#coming-body {
    background: url("../images/bg-denim.png") !important;
}

.coming-soon {
    
    text-align: center;
    color: #c6c6c6;
}

.coming-soon h1 label{
    color: #2fbfca;
    display: inline;
    font-size: 40px;
}
.coming-soon h1 span{
    color: #facc5f;
    font-size: 60px;
}
.coming-soon h1 {
    font-family: 'Alex Brush', cursive;
}

a.catLink, a.subcatLink {
    display:block;
    width:100%;
}

.catLink.selected , .subcatLink.selected {
    background-color:#FEC200;
}
